@charset "utf-8";

/* 공통 CSS */
.contents {word-break: keep-all; word-wrap:break-word;}
.text-hidden {overflow:hidden !important; clip:rect(1px, 1px, 1px, 1px) !important; position:absolute !important; width:1px !important; height:1px !important;}
.shareList {margin-bottom:60px;}
.defaultTab {margin-bottom:60px;}
.contents h4 {font-size:28px; line-height:1.6; color:#000; margin-bottom:30px;}
.imgArea .mImg {display:none;}
.imgArea img {width:100%; vertical-align:top;}
.whiteBtn.small {padding: 0 15px; height: 40px; line-height:40px; background: #ffffff; border: 1px solid #555; font-size: 14px; color:#333}
.whiteBtn .icoDownload{display: inline-block; width: 19px; height: 17px; margin-right: 6px; background: url(/images/front/icon/ico_download02.png)no-repeat; vertical-align: middle;}

/* 사업부문별 바로가기 */
.businessUnitGo {width:100%; overflow:hidden; margin-bottom:60px;}
.businessUnitGo .title {display:block; margin-bottom:30px; font-size:24px; color:#000; font-weight:600;}
.businessUnitGo ul li {float:left; width:23%; height:66px; font-size:18px; padding:13px 0 13px 20px; box-sizing:border-box;}
.businessUnitGo ul li span {display:block;}
.businessUnitGo ul li a {display:block; width:100%; height:100%; color:#fff;}
.businessUnitGo ul li.type01 {background:#4b99ba url('/images/front/icon/ico_arrow02.png') no-repeat 90% center; margin-right:2.66%}
.businessUnitGo ul li.type02 {background:#4179d0 url('/images/front/icon/ico_arrow02.png') no-repeat 90% center; margin-right:2.66%;}
.businessUnitGo ul li.type03 {background:#93b615 url('/images/front/icon/ico_arrow02.png') no-repeat 90% center; margin-right:2.66%; padding:23px 0 23px 20px;}
.businessUnitGo ul li.type04 {background:#765e93 url('/images/front/icon/ico_arrow02.png') no-repeat 90% center; padding:23px 0 23px 20px;}

/* 공통 게시판 리스트 */
.baordList {width:100%; overflow:hidden; margin-bottom:10px;}
.baordList ul li {width:100%; overflow:hidden; padding-bottom:30px; border-bottom:1px solid #d9d9d9; margin-bottom:30px}
.baordList ul li:last-child {border-color:#777777;}
.baordList ul li .thum {float:left; width:30%; height:200px; overflow:hidden; margin-right:3%;}
.baordList ul li .thum img {width:100%; vertical-align:top;} 
.baordList ul li .text {float:left; width:67%; height:200px; overflow:hidden; padding:35px 0; box-sizing:border-box;}
.baordList ul li .text .title {display:block; margin-bottom:20px; overflow:hidden; line-height:22px;}
.baordList ul li .text .title .boardTit {float:left; width:calc(100% - 90px); overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; white-space: nowrap; color:#000}
.baordList ul li .partIcon01 {float:left; width:80px; height:22px; line-height:22px; border:1px solid #4b99ba; color:#4b99ba; text-align:center; font-size:13px; margin-right:5px;}
.baordList ul li .partIcon02 {float:left; width:80px; height:22px; line-height:22px; border:1px solid #4179d0; color:#4179d0; text-align:center; font-size:13px; margin-right:5px;}
.baordList ul li .partIcon03 {float:left; width:80px; height:22px; line-height:22px; border:1px solid #93b615; color:#93b615; text-align:center; font-size:13px; margin-right:5px;}
.baordList ul li .partIcon04 {float:left; width:80px; height:22px; line-height:22px; border:1px solid #765e93; color:#765e93; text-align:center; font-size:13px; margin-right:5px;}
.baordList ul li .partIcon05 {float:left; width:80px; height:22px; line-height:22px; border:1px solid #f1751a; color:#f1751a; text-align:center; font-size:13px; margin-right:5px;}
.baordList ul li .partIcon06 {float:left; width:80px; height:22px; line-height:22px; border:1px solid #b65515; color:#b65515; text-align:center; font-size:13px; margin-right:5px;}
.baordList ul li .text .textCont {line-height:1.6; margin-bottom:20px;}
.baordList ul li .date {font-size:14px; color:#777777;}

/* 공통 게시판 글보기 */
.boardViewArea {width:100%; overflow:hidden;} 
.boardViewArea .boardViewTit {width:100%; overflow:hidden; padding-bottom:30px; margin-bottom:30px; border-bottom:1px solid #d9d9d9; line-height:1.4}
.boardViewArea .boardViewTit .boardTit {display:block; font-size:28px; color:#111; margin-bottom:20px;}
.boardViewArea .boardViewTit .boardContInfo {font-size:14px; color:#777;}
.boardViewArea .boardViewTit .boardContInfo .date {padding-right:16px; margin-right:15px; background:url('/images/front/contents/bg_CNT_K_014.jpg') no-repeat right center}
.boardViewArea .boardContWrap {width:100%; overflow:hidden; padding-bottom:50px; border-bottom:1px solid #d9d9d9; line-height:1.6; margin-bottom:40px;}
.boardViewArea .boardContWrap p {font-size:16px; color:#555; line-height:1.6; margin-bottom:50px;}
.boardViewArea .boardContWrap p img {width:100%;}
.boardViewArea .boardContWrap p:last-child {margin-bottom:0;}
.boardViewArea .boardViewbtnArea {width:100%; overflow:hidden; margin-bottom:50px;}
.boardViewArea .boardViewbtnArea .utileBtn {float:left;}
.boardViewArea .boardViewbtnArea .utileBtn a {display:inline-block; margin-right:8px;}
.boardViewArea .boardViewbtnArea .listGo {float:right; width:140px; height:56px; line-height:56px; background:#0c4da2; text-align:center; color:#fff;}
.boardViewArea .relationArticle {width:100%; overflow:hidden; margin-bottom:80px;}
.boardViewArea .relationArticle .title {display:block; font-size:24px; color:#111; margin-bottom:20px;}
.boardViewArea .relationArticle ul {border-top:1px solid #0c4da2; border-bottom:1px solid #777777;}
.boardViewArea .relationArticle ul li {width:100%; height:60px; line-height:60px; overflow:hidden; background:#fbfbfb url('/images/front/icon/ico_listdot_type02.jpg') no-repeat 30px center; box-sizing:border-box; padding:0 30px 0 40px; border-bottom:1px solid #d9d9d9;}
.boardViewArea .relationArticle ul li:hover {background:#fbfbfb url('/images/front/icon/ico_listdot_type01.jpg') no-repeat 30px center;}
.boardViewArea .relationArticle ul li .boardTit {float:left; width:calc(100% - 100px); margin-right:15px; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; white-space: nowrap;}
.boardViewArea .relationArticle ul li:hover .boardTit {color:#0c4da2; text-decoration:underline;}
.boardViewArea .relationArticle ul li:last-child {border-bottom:0;}

/* Overview */
.overviewTit {overflow:hidden; margin-bottom:70px;}
.overviewTit h4 {font-size:42px; line-height:1.4; margin-bottom:25px;}
.overviewTit p {margin-bottom:20px; line-height:1.6; font-size:16px;}
.overviewTit p:nth-child(2) {font-size:18px;}
.overviewTit .partList {overflow:hidden; margin-bottom:2%;}
.overviewTit .partList li {float:left; width:23.5%; margin-right:2%; padding-top:25px; text-align:center; color:#fff;}
.overviewTit .partList li .title {display:inline-block; margin-bottom:20px;font-size:20px; padding:0 10px 15px;}
.overviewTit .partList li .title::after {display:block; width:48px; height:12px; border-bottom:1px solid rgba(255,255,255,0.5); content:''; margin:0 auto;}
.overviewTit .partList li .icon {display:block; margin-bottom:35px;}
.overviewTit .partList li.type01 {padding-top:25px;}
.overviewTit .partList li.type01 .title {margin-bottom:15px;}
.overviewTit .partList li.type01 .icon {margin-bottom:19px;}
.overviewTit .partList li .btnArea {height:56px; line-height:56px; overflow:hidden; text-align:left;}
.overviewTit .partList li .btnArea a {float:left; width:58%; color:#fff; margin-right:0; background:url('/images/front/icon/ico_arrow02.png') no-repeat 80% center; background-size:6px; padding-left:13%; box-sizing:border-box;}
.overviewTit .partList li .btnArea a:last-child {float:left; width:42%; background:url('/images/front/icon/ico_arrow02.png') no-repeat 60% center; background-size:6px; }
.overviewTit .partList li:last-child {margin-right:0;}
.overviewTit .partList li.type01 {background:#4b99ba;}
.overviewTit .partList li.type02 {background:#4179d0;}
.overviewTit .partList li.type03 {background:#93b615;}
.overviewTit .partList li.type04 {background:#765e93;}
.overviewTit .partList li.type01 .btnArea {background:#227ea5 url('/images/front/contents/bg_CNT_K_001_01.png') no-repeat 58% center;}
.overviewTit .partList li.type02 .btnArea {background:#205bb7 url('/images/front/contents/bg_CNT_K_001_01.png') no-repeat 58% center;}
.overviewTit .partList li.type03 .btnArea {background:#739205 url('/images/front/contents/bg_CNT_K_001_01.png') no-repeat 58% center;}
.overviewTit .partList li.type04 .btnArea {background:#5f4480 url('/images/front/contents/bg_CNT_K_001_01.png') no-repeat 58% center;}
.overviewTit .countInfo {overflow:hidden; background:#dde3ec; padding:35px 0; text-align:center;}
.overviewTit .countInfo li {float:left; width:25%; border-right:1px solid #c8d4e4;}
.overviewTit .countInfo li .title {display:block; font-size:20px; font-weight:600; color:#000; margin-bottom:10px;}
.overviewTit .countInfo li .number {display:block; font-size:30px; color:#265b97; font-weight:600; margin-bottom:4px;}
.overviewTit .countInfo li .number .small {font-size:20px;}
.overviewTit .countInfo li .standard {color:#555;}
.overviewTit .countInfo li:last-child {border:0;}
.overviewCont {margin-bottom:70px; overflow:hidden;}
.overviewCont h4 {text-transform:uppercase; font-size:42px; margin-bottom:0;}
.overviewCont p {margin-bottom:50px;}
.imgArea.type02 {margin-bottom:30px;}

/* 연혁 */
.historyTit {font-size:28px; margin-bottom:30px; color:#000}
.historyTitDetail {line-height:1.6; margin-bottom:30px; color:#333333}
.historyTitDetail span {display:block;}
.historyBtnWrap {text-align:right; margin-bottom:40px; overflow:hidden;}
.historyBtnWrap a {display:inline-block; width:206px; height:56px; line-height:56px; text-align:center; color:#fff; font-size:18px; background:#0c4da2;}
.historyList {overflow:hidden; border-top:1px solid #0c4da2;}
.historyList > li {padding:50px 0; border-bottom:1px solid #d9d9d9; overflow:hidden;}
.historyList > li .year {float:left; font-size:36px; color:#000; width:20%; font-weight:600;}
.historyList > li .monthList {float:left; width:80%;}
.historyList > li .monthList > li {overflow:hidden; margin-bottom:40px;}
.historyList > li .monthList > li:last-child {margin-bottom:0;}
.historyList > li .monthList > li .month {float:left; font-size:24px; width:10%; font-weight:600; color:#0c4da2;}
.historyList > li .monthList > li .detailList {float:left; width:90%; overflow:hidden; color:#333333;}
.historyList > li .monthList > li .detailList li {margin-bottom:8px;}
.historyList > li .monthList > li .detailList li.historyImg img {width:100%; max-width:450px; vertical-align:top;}
#CNT_E_003 .defaultTabCon {margin-bottom:50px;}

.historyAllList {width:100%; overflow:hidden; padding:50px 45px; box-sizing:border-box;}
.historyAllList h1 {font-size:42px; font-weight:600; margin-bottom:30px; color:#0c4da2;}
.historyAllList .tableBasicList { margin-bottom:60px;}
.historyAllList .tableBasicList tbody th, .historyAllList .tableBasicList tbody td {padding:20px 30px;}
.historyAllList .tableBasicList tbody th {background:none; font-weight:600;}
.historyAllList .tableBasicList tbody td {text-align:left; line-height:1.4;}
.historyAllList .buttonArea {text-align:center;}

/* 사업영역 > 건설부문 / 상사부문 / 패션부문 / 리조트 부문 */
.businessAreaIntro {width:100%; overflow:hidden; margin-bottom:10px;}
.businessAreaIntro .bigTit {margin-bottom:30px; line-height:1.4;}
.businessAreaIntro p {margin-bottom:20px; line-height:1.6;}
.businessAreaBnr {width:100%; overflow:hidden; margin-bottom:70px;}
.businessAreaBnr ul li {float:left; width:32%; height:260px; overflow:hidden; text-align:center; padding:30px 4% 0; color:#fff;}
.businessAreaBnr ul li .title {display:inline-block; font-size:28px; padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #fff;}
.businessAreaBnr ul li.titleBnr {width:100%; height:380px; overflow:hidden; margin-bottom:20px; position:relative; text-align:left; padding:0;}
.businessAreaBnr ul li.titleBnr.build:after {background:url('/images/front/contents/bg_CNT_K_005_01.jpg') no-repeat left top;}
.businessAreaBnr ul li.titleBnr.trade:after {background:url('/images/front/contents/bg_CNT_K_006_01.jpg') no-repeat left top;}
.businessAreaBnr ul li.titleBnr.fashion:after {background:url('/images/front/contents/bg_CNT_K_007_01.jpg') no-repeat left top;}
.businessAreaBnr ul li.titleBnr.resort:after {background:url('/images/front/contents/bg_CNT_K_008_01.jpg') no-repeat left top;}
.businessAreaBnr ul li.titleBnr img {display:none;}
.businessAreaBnr ul li.titleBnr .titleBnrTxt {width:353px; height:380px; background:rgba(21,57,123,0.75); padding:25px; box-sizing:border-box; letter-spacing:-0.5px;}
.businessAreaBnr ul li.titleBnr .titleBnrTxt h4 {color:#fff; margin-bottom:20px;}
.businessAreaBnr ul li.titleBnr .titleBnrTxt h4 span {display:block;}
.businessAreaBnr ul li.titleBnr .titleBnrTxt p {color:#bbbbbb; line-height:1.4}
.businessAreaBnr ul li.titleBnr .titleBnrTxt span {display:block;}
.businessAreaBnr ul li.titleBnr .addView {width:190px; height:54px; line-height:56px; background:#111 url('/images/front/icon/ico_arrow01.png') no-repeat 89% center; color:#fff; padding-left:2%; box-sizing:border-box; position:absolute; bottom:0; left:235px; text-align:left;}
.businessAreaBnr ul li {position: relative;}
.businessAreaBnr ul li.type02 {margin:0 2%;}
.businessAreaBnr ul li.type04 {margin-bottom:2%;}
.businessAreaBnr ul li.type05 {margin:0 2% 2%;}
.businessAreaBnr ul li.type06 {margin-bottom:2%;}
.businessAreaBnr ul li.type07 {width:49%; margin-right:2%}
.businessAreaBnr ul li.type08 {width:49%; }
.businessAreaBnr ul li.type10 {margin:0 2%;}
.businessAreaBnr ul li.type13 {margin:0 2%;}

.businessAreaBnr ul li:hover:after {transform: scale(1.2);}
.businessAreaBnr ul li:after { content:''; display: block; position: absolute; top:0; left:0; width:100%; height: 100%; background: #ddd; z-index: -1; transition: transform .3s ease-out;}
.businessAreaBnr ul li.type01:after { background:url('/images/front/contents/bg_CNT_K_005_02.jpg') no-repeat;}
.businessAreaBnr ul li.type02:after { background:url('/images/front/contents/bg_CNT_K_005_03.jpg') no-repeat;}
.businessAreaBnr ul li.type03:after { background:url('/images/front/contents/bg_CNT_K_005_04.jpg') no-repeat;}
.businessAreaBnr ul li.type04:after { background:url('/images/front/contents/bg_CNT_K_006_02.jpg') no-repeat;}
.businessAreaBnr ul li.type05:after { background:url('/images/front/contents/bg_CNT_K_006_03.jpg') no-repeat;}
.businessAreaBnr ul li.type06:after { background:url('/images/front/contents/bg_CNT_K_006_04.jpg') no-repeat;}
.businessAreaBnr ul li.type07:after { background:url('/images/front/contents/bg_CNT_K_006_05.jpg') no-repeat;}
.businessAreaBnr ul li.type08:after { background:url('/images/front/contents/bg_CNT_K_006_06.jpg') no-repeat;}
.businessAreaBnr ul li.type09:after { background:url('/images/front/contents/bg_CNT_K_007_02.jpg') no-repeat;}
.businessAreaBnr ul li.type10:after { background:url('/images/front/contents/bg_CNT_K_007_03.jpg') no-repeat;}
.businessAreaBnr ul li.type11:after { background:url('/images/front/contents/bg_CNT_K_007_04.jpg') no-repeat;}
.businessAreaBnr ul li.type12:after { background:url('/images/front/contents/bg_CNT_K_008_02.jpg') no-repeat;}
.businessAreaBnr ul li.type13:after { background:url('/images/front/contents/bg_CNT_K_008_03.jpg') no-repeat;}
.businessAreaBnr ul li.type14:after { background:url('/images/front/contents/bg_CNT_K_008_04.jpg') no-repeat;}


/* CSR > 인사말 */
#CNT_E_009 .defaultTabCon {width:100%; overflow:hidden; margin-bottom:60px;}
.csrTitle {overflow:hidden; margin-bottom:80px;}
.csrTitle p {line-height:1.6; margin-bottom:20px;}
.csrTitle p:nth-child(2) {font-size:18px;}
.csrTitle p.last {margin-bottom:70px;}
.csrTitle .imgArea {display:block;}

.greetingWrap {padding-bottom:40px; border-bottom:1px solid #777777; margin-bottom:40px;  color:#333}
.greetingWrap p {line-height:1.6; margin-bottom:20px;}
.greetingWrap p.last {margin-bottom:50px;}
.greetingWrap .signature {text-align:right; color:#111}
.greetingWrap .signature span {display:block; line-height:28px;}
.greetingWrap .signature span.appellation {margin-bottom:20px;}
.greetingWrap .signature .name {font-weight:600; color:#333;}
.greetingWrap .signature .name img {vertical-align:middle; margin-left:20px;}
.greetingBtnWrap {text-align:right;}
.greetingBtnWrap a {display:inline-block; line-height:40px; color:#fff; text-align:center; background:#828a91 url('/images/front/icon/ico_arrow02.png') no-repeat 90% center; font-size:14px; box-sizing:border-box; border:1px solid #555555; padding:0 38px 0 15px; margin-left:15px;}

.visionStrategy {color:#333}
.visionStrategy p {line-height:1.6; margin-bottom:20px;}
.visionStrategy p.color01 {font-size:18px;}
.visionStrategy p.last {margin-bottom:50px;}
.visionStrategy ul {width:100%; border-top:1px solid #0c4da2; margin-bottom:50px;}
.visionStrategy ul li {overflow:hidden; min-height:98px; border-bottom:1px solid #d9d9d9;}
.visionStrategy ul li .title {float:left; width:15%; padding:35px 0; font-size:24px; color:#111; box-sizing:border-box; font-weight:600;}
.visionStrategy ul li .txt {float:left; width:85%; padding:35px 0 35px 15px; color:#333; box-sizing:border-box;}
.visionStrategy ul li .txt .imgSlogan {display:block; margin-bottom:20px;}
.visionStrategy ul li .txt .last {margin:0;}
.visionStrategy ul li:last-child { border-bottom:1px solid #777777}

/* CSR > ACT */
.blockTxt {display:block;}
.actMainWrap {margin-bottom:15px;}
.actMainWrap p {line-height:1.6; margin-bottom:20px;}
.actMainWrap p.type01 {margin-bottom:50px;}
.actMainWrap p.color01 {font-size:18px;}
.actMainWrap .imgArea {display:block; margin-bottom:50px;}

.actMainWrap .actMenuList {width:100%; overflow:hidden;}
.actMainWrap .actMenuList > li {float:left; width:49%; margin-right:2%; margin-bottom:35px;}
.actMainWrap .actMenuList > li:nth-child(2n) {margin-right:0;}
.actMainWrap .actMenuList > li .title {display:block; padding-bottom:15px; margin-bottom:15px; border-bottom:2px solid #434757; font-size:18px; color:#111; font-weight:600;}
.actMainWrap .actMenuList > li ul li {width:100%; display:table; overflow:hidden; margin-bottom:10px; table-layout:fixed;}
.actMainWrap .actMenuList > li ul li .thum {width:16%; display:table-cell; padding-right:5%;}
.actMainWrap .actMenuList > li ul li .thum img {vertical-align:top; width:100%;}
.actMainWrap .actMenuList > li ul li .text {width:79%; display:table-cell; vertical-align:middle; line-height:1.6;}
.actMainWrap .actMenuList > li ul li .text.type01 {text-indent:-20px; padding-left:15px; box-sizing:border-box;}
.actMainWrap .actMenuList > li ul li .text.type02 {text-indent:-28px; padding-left:23px; box-sizing:border-box;}



#CNT_E_012 .defaultTabCon {width:100%; overflow:hidden; margin-bottom:60px;}
.actMainTitle {font-size:28px; padding-bottom:40px; border-bottom:1px solid #0c4da2; color:#000; margin-bottom:40px;}

.actContsWrap {width:100%; overflow:hidden; padding-bottom:10px; margin-bottom:40px; border-bottom:1px solid #d9d9d9;}
.actContsWrap.last {padding:0; margin:0; border:0;}
.actContsWrap .actTit {display:block; font-size:24px; margin-bottom:20px; color:#111; font-weight:600;}
.actContsWrap p {line-height:1.6; margin-bottom:20px;}
.actContsWrap p.last {margin:0;}
.actContsWrap p.gray {color:#777; margin-bottom:15px; text-indent:-10px; padding-left:10px; box-sizing:border-box;}


.actConts {width:100%; overflow:hidden; padding-bottom:10px; margin-bottom:40px; border-bottom:1px dashed #d9d9d9;}
.actConts .actSubTit {font-size:18px;}
.actConts .imgArea {overflow:hidden; margin-bottom:30px;}
.actConts .imgArea .imgCont01 {float:left; width:49%; margin-right:2%;}
.actConts .imgArea .imgCont02 {float:left; width:49%;}
.actConts .imgArea.type02 .imgCont01 {float:left; width:66%; margin-right:2%;}
.actConts .imgArea.type02 .imgCont02 {float:left; width:32%;}
.actConts .imgList {width:100%; overflow:hidden; margin-bottom:30px;}
.actConts .imgList li {float:left; width:32%; overflow:hidden; position: relative; margin-right:2%; padding:0;}
.actConts .imgList li.type01 {width:38.4%;}
.actConts .imgList li.type02 {width:25.6%;}
.actConts .imgList li img {width:100%; vertical-align:top; transition: transform .3s ease-out;}
.actConts .imgList li img:hover {transform: scale(1.2); }
.actConts .imgList li .name {display:block; width:100%; height:50px; line-height:50px;  position:absolute; bottom:0; left:0; text-align:center; color:#fff; background:rgba(21,57,123,0.75);}
.actConts .imgList li:last-child {margin:0;}
.actConts .imgTxtList {width:100%; overflow:hidden; margin-bottom:30px;}
.actConts .imgTxtList li {display:table; margin-bottom:30px;}
.actConts .imgTxtList li:last-child {margin:0;}
.actConts .imgTxtList li .imgCont {width:48%; display:table-cell; padding-right:3%;}
.actConts .imgTxtList li .imgCont img {width:100%;}
.actConts .imgTxtList li .txtCont {width:49%; display:table-cell; vertical-align: middle;}
.actConts.last {padding:0; margin:0; border:0;}
.actConts p:last-child {margin-bottom:0;}
.actConts .mImg {display:none;}

/* CSR > Report*/
.reportTit {background:url('/images/front/contents/bg_CNT_K_015.png') no-repeat center bottom; text-align:center; overflow:hidden;}
.reportTit h4 {font-weight:600; font-size:42px; margin-bottom:20px; line-height: 42px;}
.reportTit > span {display:block; font-size:18px; line-height:1.4;}
.reportTit > span.last {margin-bottom:20px;}
.reportTit .gray {color:#777777; font-size:16px; margin-bottom:50px;}
.reportTit button {margin-bottom:80px;}
.reportList {margin-bottom:20px; overflow:hidden; border-top:1px solid #0c4da2; border-bottom:1px solid #777777;}
.reportList li {float:left; width:50%; height:100px; line-height:100px; overflow:hidden; border-bottom:1px solid #d9d9d9}
.reportList li:last-child {border:0;}
.reportList li .year {float:left; width:30%; text-align:center; background:#f8f8f8; font-weight:600; font-size:24px;}
.reportList li .btnArea {float:left; width:70%; padding:0 45px; box-sizing:border-box;}
.reportList li .btnArea button {margin-right:0;}
.reportListinfo {display:block; color:#777777; margin-bottom:60px;}

/* 채용 */
.recruitmentTit {text-align:center; margin-bottom:50px;}
.recruitmentTit span {display:block; font-size:18px; line-height:1.6}
.recruitmentTit h4 {margin-bottom:20px;}
.recruitmentTit h4, .recruitmentTit h4 span {font-size:42px; line-height:1.4;}
.recruitmentList {width:100%; overflow:hidden; margin-bottom:60px;}
.recruitmentList li {float:left; width:24%; margin-right:1.33%; padding:60px 2%; box-sizing:border-box; text-align:center; color:#fff;}
.recruitmentList li .title {display:block; height:90px; margin-bottom:50px; font-size:26px;}
.recruitmentList li .addview {display:inline-block; background:#111 url('/images/front/icon/ico_arrow01.png') no-repeat 80% center; background-size:21px; width:80%; height:48px; line-height:50px; color:#fff; text-align:left; padding:0 12%; box-sizing:border-box;}
.recruitmentList li.type01 {background:url('/images/front/contents/bg_CNT_K_022_01.jpg') no-repeat center bottom; background-size:cover;}
.recruitmentList li.type02 {background:url('/images/front/contents/bg_CNT_K_022_02.jpg') no-repeat center bottom; background-size:cover;}
.recruitmentList li.type03 {background:url('/images/front/contents/bg_CNT_K_022_03.jpg') no-repeat right bottom; background-size:cover;}
.recruitmentList li.type04 {background:url('/images/front/contents/bg_CNT_K_022_04.jpg') no-repeat right bottom; background-size:cover; margin-right:0;}

/* CONTACT OUS > 오시는 길*/
.mapArea {width:100%; overflow:hidden; margin-bottom:50px;}
.mapArea h4 {font-size:24px; padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #d9d9d9; color:#111;}
.mapArea ul {margin-bottom:10px; overflow:hidden;}
.mapArea ul li {background:url('/images/front/icon/ico_listdot_type02.jpg') no-repeat left center; padding-left:1%; overflow:hidden; margin-bottom:15px; box-sizing:border-box; font-size:18px; color:#111;}
.mapArea ul li .title {float:left; width:7%;}
.mapArea ul li .txt {float:left; width:92%;}

/* CONTACT OUS > 고객문의 */
.inquiryTit {width:100%; height:315px; overflow:hidden; padding-left:370px; box-sizing:border-box; background:url('/images/front/contents/tit_CNT_K_027.png')no-repeat left center; margin-bottom:70px;}
.inquiryTit .title {display:block; font-size:42px; font-weight:600; line-height:50px;}
.inquiryTit .title.color02 {margin-bottom:20px;}
.inquiryTit p {font-size:18px; line-height:26px; margin-bottom:40px;}
.inquiryTit p span {display:block;}
.inquiryTit #inquiryOpen {width:157px; height:56px; line-height:56px; background:#0c4da2 url('/images/front/icon/ico_inquiry.png') no-repeat 30px center; padding-left:30px; box-sizing:border-box; color:#fff; font-size:18px;}

.inquiryWriteWrap {width:100%; overflow:hidden; margin-bottom:70px; border-bottom:1px solid #d9d9d9; padding-bottom:70px}
.inquiryWriteWrap .inquiryWriteTit {overflow:hidden; margin-bottom:20px;}
.inquiryWriteWrap .inquiryWriteTit .title {float:left; font-size:24px; color:#000; font-weight:600;}
.inquiryWriteWrap .inquiryWriteTit .addNotice {float:right; color:#777;}
.inquiryWriteWrap ul.inquiryWrite {width:100%; border-top:1px solid #0c4da2; margin-bottom:50px; overflow:hidden;}
.inquiryWriteWrap ul.inquiryWrite li {width:100%; box-sizing:border-box; clear: both;}
.inquiryWriteWrap ul.inquiryWrite li .textWrite {height:260px;}
.inquiryWriteWrap ul.inquiryWrite li .writeTit {float:left; width:20%; line-height:80px; background:#f8f8f8; padding-left:20px; color: #000000; box-sizing:border-box; border-bottom:1px solid #d9d9d9;}
.inquiryWriteWrap ul.inquiryWrite li .writeTit.autoTitle {line-height:90px;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont {float:left; width:80%; padding:20px 40px; box-sizing:border-box; position:relative; border-bottom:1px solid #d9d9d9;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont input[type="text"] {width:100%; height:40px; padding:0 10px; line-height:38px; box-sizing:border-box; border:1px solid #dddddd;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont input.email {float:left; width:30%;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont input.prevention {float:left; width:186px; margin:5px 10px 5px 0;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont .unit {float:left; width:25px; text-align:center; line-height:40px;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont .selectTab {float:left; width:170px; margin-left:10px;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont .preventionImg {float:left; width:200px; height:50px; overflow:hidden; margin-right:10px;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont .preventionImg img {width:200px; height:50px;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont .refresh {float:left; width:104px; height:40px; margin:5px 0;line-height:38px; border:1px solid #555555; box-sizing:border-box; font-size:14px; color:#333333; background:url('/images/front/icon/ico_refresh.png') no-repeat 12px center; text-align:left; padding-left:38px;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont textarea {border:1px solid #dddddd; width:100%; height:190px; margin-bottom:10px; box-sizing:border-box; padding:10px;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont .txtCount {display:block; text-align:right;}

.personalInforAgree {width:100%; overflow:hidden;}
.personalInforAgree .title {display:block; font-size:18px; margin-bottom:15px}
.personalInforAgree p {margin-bottom:15px;}
.personalInforAgree .graybox {width:100%; padding:35px 30px; box-sizing:border-box; background:#f8f8f8; line-height:28px; margin-bottom:20px;}
.personalInforAgree .graybox > ol > li {margin-bottom:40px; font-weight:600;}
.personalInforAgree .graybox > ol > li:last-child {margin-bottom:0;}
.personalInforAgree .graybox > ol > li > ol {box-sizing:border-box; font-weight:400; text-indent:-18px; padding-left:35px; box-sizing:border-box;}
.personalInforAgree .agreeArea {display:block; margin-bottom:50px;}
.personalInforAgree .agreeArea .agreeSelect {overflow:hidden; text-align:center;}
.personalInforAgree .agreeArea .agreeSelect .radioWrap {display:inline-block; line-height:22px; margin:0 15px;}
.personalInforAgree .buttonArea {text-align:center;}

@media screen and (max-width:1053px) {
.overviewTit .partList li.type01 {padding-top:25px;}
.overviewTit .partList li.type01 .title {margin-bottom:29px;}
.overviewTit .partList li.type01 .icon {margin-bottom:29px;}
}

@media screen and (max-width:1024px) {
/* 사업영역 > 건설부문*/
.businessAreaIntro .bigTit span {display:inline;}

/* 공통 게시판 리스트 */
.baordList ul li .text {padding:0; height:auto;}
.baordList ul li .thum {height:auto;}

/* 소셜미디어 */
.socialTit {font-size:21px; margin-bottom:20px;}
.socialTit span {display:inline;} 
.socialConts {margin-bottom:30px;}
.socialConts .imgArea {width:100%; float:none; margin-right:0%; margin-bottom:20px;}
.socialConts .imgArea .part {width:35%; height:35px; line-height:35px; font-size:16px;}
.socialConts.type02 .imgArea {width:100%; float:none;}
.socialConts.type02 .txtArea {width:100%; float:none; margin-right:0%;}
.socialConts.type02 .txtArea .socialMedia {position:relative; bottom:0; left:0;}
.socialConts.last {margin-bottom:30px;}
.socialConts .txtArea {width:100%; float:none; padding-top:0;}
.socialConts .txtArea .title {font-size:18px; margin-bottom:10px;}
.socialConts .txtArea p {margin-bottom:20px;}
.socialConts .txtArea .date {display:block; margin-bottom:20px;}
.socialConts .txtArea .socialMedia {position:relative; bottom:0; left:0;}

}

/* 모바일 */
@media screen and (max-width:812px) {
/* 공통 CSS */
.defaultTab {margin-bottom:20px;}
.shareList {margin-bottom:0;}
.contents h4 {font-size:21px; margin-bottom:20px;}
.contents p {font-size:15px; margin-bottom:15px;}
.contents p.last {margin-bottom:15px;}
.imgArea .pcImg {display:none;}
.imgArea .mImg {display:block;}

/* 사업부문별 바로가기 */
#CNT_E_021 .businessUnitGo {padding:0 20px 0 20px; box-sizing:border-box; margin-bottom:0;}
.businessUnitGo .title {font-size:21px; margin-bottom:10px;}
.businessUnitGo ul li {float:left; width:49%; height:auto; padding-left:0; text-align:center;  margin-bottom:2%; font-size:14px; line-height:1.2em !important; padding:13px 0;}
.businessUnitGo ul li.type01 {background:#4b99ba; margin-right:2%;}
.businessUnitGo ul li.type02 {background:#4179d0; margin-right:0;}
.businessUnitGo ul li.type03 {background:#93b615; margin-right:2%; margin-bottom:0; padding-left:0;}
.businessUnitGo ul li.type04 {background:#765e93; margin-bottom:0; padding-left:0;}

/* 공통 게시판 리스트 */
.baordList ul li {padding-bottom:15px; border-bottom:1px solid #d9d9d9; margin-bottom:20px}
.baordList ul li .thum {float:none; width:100%; height:auto; margin:0 0 10px 0;}
.baordList ul li .text {float:none; width:100%; height:auto; padding:0;}
.baordList ul li .text .title {margin-bottom:10px; font-size:18px;}
.baordList ul li .text .textCont {margin-bottom:10px; font-size:15px;}
.baordList ul li .text .title .boardTit {display:block; width:100%; margin-top:8px;}

/* 공통 게시판 글보기 */
.boardViewArea .boardViewTit {padding-bottom:20px; margin-bottom:20px;}
.boardViewArea .boardViewTit .boardTit {font-size:21px; margin-bottom:10px;}
.boardViewArea .boardViewTit .boardContInfo .date {padding-right:10px; margin-right:10px;}
.boardViewArea .boardContWrap {margin-bottom:20px; padding-bottom:20px;}
.boardViewArea .boardViewbtnArea .utileBtn {display:none;}
.boardViewArea .boardViewbtnArea .listGo {width:30%; height:40px; line-height:40px;}
.boardViewArea .boardViewbtnArea {margin-bottom:30px;}
.boardViewArea .relationArticle ul li {height:40px; line-height:40px!important; padding:0 3% 0 6%; font-size:15px; background:#fbfbfb url('/images/front/icon/ico_listdot_type02.jpg') no-repeat 3% center}
.boardViewArea .boardContWrap p {font-size:15px; margin-bottom:15px;}

/* Overview */
.overviewTit {margin-bottom:30px;}
.overviewTit h4 {font-size:25px; margin-bottom:10px;}
.overviewTit p:nth-child(2) {font-size:15px;}

.overviewTit .partList li {width:49%; margin-right:2%; margin-bottom:2%; padding-top:15px; text-align:center; color:#fff;}
.overviewTit .partList li:nth-child(2n) {margin-right:0;}
.overviewTit .partList li .title {margin-bottom:15px; font-size:18px; padding:0 5px 7px;}
.overviewTit .partList li .title span {display:block;}
.overviewTit .partList li .icon {margin-bottom:10px;}
.overviewTit .partList li .icon img {width:40%; max-width:90px;}
.overviewTit .partList li .btnArea a {background:none; padding-left:0; text-align:center; font-size:14px;}
.overviewTit .partList li .btnArea a:last-child {background:none; padding-left:0; text-align:center; font-size:14px;}
.overviewTit .partList li .btnArea {height:40px; line-height:40px !important;}
.overviewTit .partList li.type01 {padding-top:15px;}
.overviewTit .partList li.type01 .title {margin-bottom:15px;}
.overviewTit .partList li.type01 .icon {margin-bottom:10px;}
.overviewTit .countInfo {padding:0;}
.overviewTit .countInfo li {width:50%; padding:25px 0; border-bottom:1px solid #c8d4e4; box-sizing:border-box; letter-spacing:-1px;}
.overviewTit .countInfo li .number {font-size:20px;}
.overviewTit .countInfo li .number .small {font-size:16px;}
.overviewTit .countInfo li:nth-child(2n) {margin-right:0; border-right:0;}
.overviewTit .countInfo li:nth-child(3), .overviewTit .countInfo li:nth-child(4) {border-bottom:0;}
.overviewCont {margin-bottom:30px;}
.overviewCont h4 {margin-bottom:5px; font-size:25px;}

/* 연혁 */
#CNT_E_003 .businessUnitGo {margin-bottom:0;}
#CNT_E_003 .defaultTabCon {margin-bottom:30px;}
.historyTit {font-size:21px; margin-bottom:20px;}
.historyTitDetail {margin-bottom:30px!important;}
.historyTitDetail span {display:inline;}
.historyBtnWrap {display:none;}
.historyList {overflow:hidden; border-top:1px solid #0c4da2;}
.historyList > li {padding:20px 0; border-bottom:1px solid #d9d9d9; overflow:hidden;}
.historyList > li .year {font-size:18px; color:#000;font-weight:600;}
.historyList > li .monthList {float:left; width:80%;}
.historyList > li .monthList > li {margin-bottom:18px;}
.historyList > li .monthList > li .month {display:block; float:none; font-size:16px; width:100%; margin-bottom:4px;}
.historyList > li .monthList > li .detailList {float:none; width:100%; overflow:hidden; color:#333333;}
.historyList > li .monthList > li .detailList li {font-size:15px; margin-bottom:4px;}

/* CSR > 인사말 */
#CNT_E_009 .defaultTabCon {margin-bottom:30px;}
#CNT_E_009 .csrTitle {margin-bottom:30px;}
.csrTitle p:nth-child(2) {font-size:15px;}
.greetingWrap {margin-bottom:30px; padding-bottom:30px;}
.greetingWrap .signature {display:block; overflow:hidden;}
.greetingWrap .signature .name {float:left; width:45%; margin-right:5%; text-align:right;}
.greetingWrap .signature .signImg {float:left; width:50%;}
.greetingWrap .signature .signImg img {width:100%;}
.greetingBtnWrap {overflow:hidden;}
.greetingBtnWrap .notice {float:left; width:45%; text-align:left; text-indent:-17px; padding-left:17px; box-sizing:border-box;}
.greetingBtnWrap .addView {float:right;}
.visionStrategy p.color01 {font-size:16px;}
.visionStrategy p:last-child {margin-bottom:0;}
.visionStrategy ul {margin-bottom:30px;}
.visionStrategy ul li {overflow:hidden; min-height:auto; padding:20px 0;}
.visionStrategy ul li .title {float:none; display:block; width:100%; padding:0; font-size:18px; box-sizing:border-box; margin-bottom:8px;}
.visionStrategy ul li .txt {float:none; display:block; width:100%; padding:0; color:#333; box-sizing:border-box; font-size:15px;}
.visionStrategy ul li .txt .imgSlogan {display:block; margin-bottom:15px;}
.visionStrategy ul li .txt .imgSlogan img {vertical-align:top;}
.visionStrategy ul li .txt .last {margin:0;}

/* CSR > ACT */
#CNT_E_011 .blockTxt {display:inline;}
.actMainWrap p.color01 {font-size:16px;}
.actMainWrap p.type01 {margin-bottom:15px;}
.actMainWrap .imgArea {margin-bottom:27px;}
.actMainWrap .actMenuList > li:last-child {margin-bottom:0;}
.actMainWrap .actMenuList > li .title {font-size:16px;}
.actMainWrap .actMenuList > li ul li .text {font-size:15px;}
.actMainWrap .actMenuList > li {float:none; width:100%; margin:0 0 20px 0; min-height:auto;}
.actMainWrap .actMenuList > li ul li:last-child {margin-bottom:0;}

.actMainWrap .actMenuList > li ul li .thum {width:25%; display:table-cell; padding-right:5%;}
.actMainWrap .actMenuList > li ul li .text {width:70%; display:table-cell; vertical-align:middle; line-height:1.6;}
.actMainWrap .actMenuList > li ul li .text.type01 {text-indent:-16px; padding-left:10px; box-sizing:border-box;}
.actMainWrap .actMenuList > li ul li .text.type02 {text-indent:-24px; padding-left:18px; box-sizing:border-box;}


h4.actMainTitle {padding-bottom:12px;}
.actContsWrap {margin-bottom:20px; padding-bottom:5px;}
.actContsWrap .actTit {font-size:18px; margin-bottom:10px;}
.actContsWrap p.color01 {font-size:16px;}
.actConts {margin-bottom:25px;}
.actConts.last p:last-child {margin-bottom:0;}
.actConts .imgArea {margin-bottom:10px;}
.actConts .imgArea .imgCont01 {display:block; float:none; width:100%; margin:0 0 10px 0; line-height: 0;}
.actConts .imgArea .imgCont02 {display:block; float:none; width:100%; line-height: 0;}
.actConts .imgArea.type02 .imgCont01 {display:block; float:none; width:100%; margin:0 0 10px 0;}
.actConts .imgArea.type02 .imgCont02 {display:block; float:none; width:100%;}
.actConts .imgArea img {width:100%; vertical-align:top;}
.actConts .imgList {width:100%; overflow:hidden; margin-bottom:20px;}
.actConts .imgList li {float:none; width:100%; margin-right:0; margin-bottom:10px;}
.actConts .imgList li.type01 {width:100%;}
.actConts .imgList li.type02 {width:100%;}
.actConts .imgTxtList {margin-bottom:0;}
.actConts .imgTxtList li {display:block; margin-bottom:30px;}
.actConts .imgTxtList li:last-child {margin:0;}
.actConts .imgTxtList li .imgCont {width:100%; display:block; padding-right:0%; margin-bottom:10px;}
.actConts .imgTxtList li .imgCont:last-child {margin-bottom:0;}
.actConts .imgTxtList li .imgCont img {width:100%; vertical-align:top;}
.actConts .imgTxtList li .txtCont {width:100%; display:block;}
.actConts.last {padding:0; margin:0; border:0;}

/* 사업영역 > 건설부문 / 상사부문 / 패션부문 / 리조트 부문 */
.businessAreaIntro {margin-bottom:0;}
.businessAreaIntro .bigTit {font-size:21px; margin-bottom:20px;}
.businessAreaBnr {width:100%; overflow:hidden; margin-bottom:30px;}
.businessAreaBnr ul li {float:none; width:100%; height:auto; overflow:hidden; text-align:center; padding:40px 4%; box-sizing:border-box; color:#fff;}
.businessAreaBnr ul li .title {display:inline-block; padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #fff; font-size:18px;}
.businessAreaBnr ul li.titleBnr {height:auto; background:none; margin-bottom:10px;}
.businessAreaBnr ul li.titleBnr img {display:block; width:100%;}
.businessAreaBnr ul li.titleBnr .titleBnrTxt {position:absolute; bottom:0; left:0; width:100%; height:auto; background:rgba(21,57,123,0.75); padding:15px 5%; box-sizing:border-box;}
.businessAreaBnr ul li.titleBnr .titleBnrTxt h4 {display:block; font-size:18px; color:#fff; margin-bottom:10px;}
.businessAreaBnr ul li.titleBnr .titleBnrTxt p {font-size:14px; margin-bottom:10px;}
.businessAreaBnr ul li.titleBnr .addView {display:inline-block; width:55%; min-width:156px; height:40px; line-height:40px; background:#111 url('/images/front/icon/ico_arrow01.png') no-repeat 90% center; background-size:15px; color:#fff; font-size:14px; box-sizing:border-box; position:relative; bottom:auto; left:auto; padding-left:6%;}
.businessAreaBnr ul li.type01 {background:url('/images/front/contents/bg_CNT_K_005_02.jpg') no-repeat center center; background-size:100%; margin-bottom:10px;}
.businessAreaBnr ul li.type02 {background:url('/images/front/contents/bg_CNT_K_005_03.jpg') no-repeat center center; background-size:100%; margin:0 0 10px 0;}
.businessAreaBnr ul li.type03 {background:url('/images/front/contents/bg_CNT_K_005_04.jpg') no-repeat center center; background-size:100%;}
.businessAreaBnr ul li.type04 {background:url('/images/front/contents/bg_CNT_K_006_02.jpg') no-repeat center center; background-size:100%; margin-bottom:10px;}
.businessAreaBnr ul li.type05 {background:url('/images/front/contents/bg_CNT_K_006_03.jpg') no-repeat center center; background-size:100%; margin:0 0 10px 0;}
.businessAreaBnr ul li.type06 {background:url('/images/front/contents/bg_CNT_K_006_04.jpg') no-repeat center center; background-size:100%; margin-bottom:10px;}
.businessAreaBnr ul li.type07 {width:100%; background:url('/images/front/contents/bg_CNT_K_006_05.jpg') no-repeat center center; background-size:100%; margin:0 0 10px 0;}
.businessAreaBnr ul li.type08 {width:100%; background:url('/images/front/contents/bg_CNT_K_006_06.jpg') no-repeat center center; background-size:100%;}
.businessAreaBnr ul li.type09 {background:url('/images/front/contents/bg_CNT_K_007_02.jpg') no-repeat center top; background-size:100%; margin-bottom:10px;}
.businessAreaBnr ul li.type10 {background:url('/images/front/contents/bg_CNT_K_007_03.jpg') no-repeat center top; background-size:100%; margin:0 0 10px 0;}
.businessAreaBnr ul li.type11 {background:url('/images/front/contents/bg_CNT_K_007_04.jpg') no-repeat center top; background-size:100%;}
.businessAreaBnr ul li.type12 {background:url('/images/front/contents/bg_CNT_K_008_02.jpg') no-repeat center center; background-size:100%; margin-bottom:10px;}
.businessAreaBnr ul li.type13 {background:url('/images/front/contents/bg_CNT_K_008_03.jpg') no-repeat center center; background-size:100%; margin:0 0 10px 0;}
.businessAreaBnr ul li.type14 {background:url('/images/front/contents/bg_CNT_K_008_04.jpg') no-repeat center center; background-size:100%;}

/* CSR > Report */
.reportTit h4 {font-size:24px;}
.reportTit h4 span {display:block;}
.reportTit > span {display:inline; font-size:15px; word-break: break-all;}
.reportTit .gray {display:block; color:#777777; font-size:15px; margin:20px 0;}
.reportTit button {font-size:14px;}

.reportList li {float:none; width:100%; overflow:hidden; height:60px; line-height:60px !important; }
.reportList li .year {width:35%; font-size:18px;}
.reportList li .btnArea {width:65%; padding:10px 15px;}


/* 채용 */
.recruitmentTit {text-align:left; padding-top:0; margin-bottom:30px;}
.recruitmentTit h4, .recruitmentTit h4 span {font-size:25px;}
.recruitmentTit span {display:inline; font-size:15px; word-break:keep-all;}
.recruitmentList {margin-bottom:30px;}
.recruitmentList li {width:49%; margin-right:2%; margin-bottom:2%; padding:30px 4%; box-sizing:border-box; text-align:center; color:#fff;}
.recruitmentList li:nth-child(2n) {margin-right:0;}
.recruitmentList li:nth-child(3), .recruitmentList li:nth-child(4) {margin-bottom:0;}
.recruitmentList li .title {height:70px; margin-bottom:20px;font-size:15px;}
.recruitmentList li .addview {display:inline-block; background:#111 url('/images/front/icon/ico_arrow01.png') no-repeat 85% center; background-size:14px; width:80%; height:40px; line-height:40px; color:#fff; text-align:left; padding:0 10%; font-size:15px; box-sizing:border-box;}
.recruitmentList li.type01 {background:url('/images/front/contents/bg_CNT_K_022_01.jpg') no-repeat center bottom; background-size:cover;}
.recruitmentList li.type02 {background:url('/images/front/contents/bg_CNT_K_022_02.jpg') no-repeat center bottom; background-size:cover;}
.recruitmentList li.type03 {background:url('/images/front/contents/bg_CNT_K_022_03.jpg') no-repeat right bottom; background-size:cover;}
.recruitmentList li.type04 {background:url('/images/front/contents/bg_CNT_K_022_04.jpg') no-repeat right bottom; background-size:cover;}

/* CONTACT OUS > 오시는 길*/
.mapArea {margin-bottom:30px;}
.mapArea h4 {padding-bottom:10px; border-bottom:1px solid #d9d9d9;}
.mapArea ul {margin-bottom:10px; overflow:hidden;}
.mapArea ul li {background:url('/images/front/icon/ico_listdot_type02.jpg') no-repeat left 7px; padding-left:2.5%; overflow:hidden; margin-bottom:10px; box-sizing:border-box; font-size:15px;}
.mapArea ul li .title {float:left; width:30%; max-width:82px; color:#111; font-size:16px;}
.mapArea ul li .txt {float:left; width:70%;}

/* CONTACT OUS > 고객문의 */
#CNT_E_021 {padding:0;}
.inquiryTit {padding:0 20px 30px 20px; height:auto; background:none; font-size:21px; border-bottom:1px solid #dddddd; margin-bottom:20px; box-sizing:border-box;}
.inquiryTit .title {display:inline; font-size:24px; font-weight:400; letter-spacing:-0.5px; line-height:1.4;}
.inquiryTit .title.color02 {margin-bottom:0px; color:#0c4da2;}
.inquiryTit p span {display:inline;}
.inquiryTit #inquiryOpen {width:40%; height:40px; line-height:40px; background:#0c4da2 url('/images/front/icon/ico_inquiry.png') no-repeat 15px center; padding-left:30px; box-sizing:border-box; color:#fff; font-size:15px;}

.inquiryWriteWrap {width:100%; overflow:hidden; margin-bottom:30px; border-bottom:1px solid #d9d9d9; padding:0 20px 30px 20px; box-sizing:border-box;}
.inquiryWriteWrap .inquiryWriteTit {overflow:hidden; margin-bottom:10px;}
.inquiryWriteWrap .inquiryWriteTit .title {font-size:24px; color:#000; font-weight:600}
.inquiryWriteWrap .inquiryWriteTit .addNotice {float:right; margin-top:12px; font-size:12px; color:#777;}
.inquiryWriteWrap ul.inquiryWrite li .textWrite {height:auto;}

.inquiryWriteWrap ul.inquiryWrite {border-top:0; border-bottom:1px solid #dddddd; padding-bottom:20px; margin-bottom:30px;}
.inquiryWriteWrap ul.inquiryWrite li {border:0; margin-bottom:10px; font-size:15px;}
.inquiryWriteWrap ul.inquiryWrite li .writeTit {display:block; float:none; width:100%; line-height:40px; background:none; padding-left:0; color: #000000; box-sizing:border-box; font-size:18px; border-bottom:0;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont {float:none; width:100%; padding:0; box-sizing:border-box; border-bottom:0;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont input.email {float:left; width:45%; margin-bottom:10px;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont .unit {float:left; width:10%; text-align:center; line-height:40px; margin-bottom:10px;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont .selectTab {position: relative; float:none; width:100%; margin:0; clear:both;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont .selectTab ul li {margin-bottom: 0;}
.inquiryWriteWrap ul.inquiryWrite li .preventionImg {float:none; display:block; width:100%; text-align:center;background:#f8f8f8; border:1px solid #dddddd; margin-bottom:10px; box-sizing:border-box;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont input.prevention {float:left; width:calc(100% - 100px); margin-right:5px;}
.inquiryWriteWrap ul.inquiryWrite li .writeCont .refresh {float:left; width:95px; height:40px; line-height:38px; border:1px solid #555555; box-sizing:border-box; font-size:14px; color:#333333; background:url('/images/front/icon/ico_refresh.png') no-repeat 10px center; text-align:left; padding-left:32px;}


.personalInforAgree .title {font-size:18px;}
.personalInforAgree p {margin-bottom:15px; font-size:15px;}
.personalInforAgree .graybox {width:100%; padding:20px; box-sizing:border-box; background:#f8f8f8; font-size:14px; margin-bottom:20px;}
.personalInforAgree .graybox > ol > li {margin-bottom:20px; font-weight:600;}
.personalInforAgree .graybox > ol > li:last-child {margin-bottom:0;}
.personalInforAgree .graybox > ol > li > ol {padding-left:25px; box-sizing:border-box; font-weight:400; margin-top:5px; text-indent:-16px;}

.personalInforAgree .agreeArea {display:block; margin-bottom:50px;}
.personalInforAgree .agreeArea .agreeSelect {overflow:hidden; text-align:center;}
.personalInforAgree .agreeArea .agreeSelect .radioWrap {display:inline-block; line-height:22px; margin:0 15px;}
.personalInforAgree .buttonArea {text-align:center;}
.personalInforAgree .buttonArea button {height:40px; line-height:40px;}
}

/* 모바일 */
@media screen and (max-width:405px) {
.overviewTit .countInfo li:last-child {padding:10px 0;}
.recruitmentList li .addview {background:#111;}
}