@charset "utf-8";


/* 사업영역 > 건설부문 */
.businessIntro {width:100%; overflow:hidden; margin-bottom:10px;}
.businessIntro .bigTit {margin-bottom:40px;}
.businessIntro p {margin-bottom:30px;}

.constructionBnr {width:100%; overflow:hidden; margin-bottom:80px;}
.constructionBnr ul li {float:left; width:353px; height:260px; overflow:hidden; text-align:center; padding-top:30px; color:#fff;}
.constructionBnr ul li .title {display:inline-block; font-size:28px; padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #fff;}
.constructionBnr ul li.titleBnr {width:100%; height:380px; overflow:hidden; background:url('/images/front/contents/bg_constructionBnr01.jpg') no-repeat left top; margin-bottom:20px; position:relative; text-align:left; padding:0;}
.constructionBnr ul li.titleBnr .titleBnrTxt {width:353px; height:380px; background:rgba(21,57,123,0.75); padding:25px; box-sizing:border-box;}
.constructionBnr ul li.titleBnr .titleBnrTxt h4 {display:block; font-size:28px; line-height:36px; color:#fff; margin-bottom:20px;}
.constructionBnr ul li.titleBnr .titleBnrTxt p {color:#bbbbbb;}
.constructionBnr ul li.titleBnr .addView {width:140px; height:54px; line-height:54px; background:#111 url('/images/front/icon/ico_arrow01.png') no-repeat 85px center; color:#fff; padding-left:20px; box-sizing:border-box; position:absolute; bottom:0; left:235px;}
.constructionBnr ul li.type01 {background:url('/images/front/contents/bg_constructionBnr02.jpg') no-repeat;}
.constructionBnr ul li.type02 {background:url('/images/front/contents/bg_constructionBnr03.jpg') no-repeat; margin:0 20px;}
.constructionBnr ul li.type03 {background:url('/images/front/contents/bg_constructionBnr04.jpg') no-repeat;}

/* 뉴스 */
