@charset "utf-8";

/* visual bg */
#contentsWrap .visualWrap{background-image: url(/images/front/common/pic_visual_03.jpg);}

.corporate{margin-top: 50px;}
.txt{line-height: 1.6;}
.corporate .color01, .smallTit, .subTit{font-size: 20px;}
.smallTit + .txt, .subTit + .txt, .subTit + ul{margin-top: 12px;}
.txt + ul {margin-top: 5px;}
.listBu .listSapn span{display: block;}

/* corporate 타이틀 */
.corporate section + section {margin-top: 40px;}
.corporate.type01{margin-top: 0;}
.titleBox{padding: 50px 30px; background: url(/images/front/contents/bg_CNT_K_058.jpg) no-repeat; background-size: cover;}
.titleBox.bg01{padding: 50px 65px;}
.titleBox.bg02{background-image: url(/images/front/contents/bg_CNT_K_051.jpg);}/*정관*/
.titleBox.bg03{background-image: url(/images/front/contents/bg_CNT_K_052.jpg);}/*윤리강령*/
.titleBox.bg04{background-image: url(/images/front/contents/bg_CNT_K_057.jpg);}
.titleBox.bg05{padding: 106px 30px; background-image: url(/images/front/contents/bg_CNT_K_063.jpg);}
.innerTxt{text-align: center; font-size: 18px; color: #ffffff; line-height: 1.4;}
.innerTxt span, .txt span{display: block;}
.titleBox + .btnArea{margin-top: 20px;}
.titleBox + .btnArea button{margin-right: 0;}
.titleBox .selectTab button{left: 50%; margin-left: -222.5px; padding: 19px 32px 18px 19px; max-width: 445px; font-size: 18px; font-weight: 600; color: #333333; background-color: #fff;}
.titleBox .selectTab .select button:after{top: 24px; right: 19px;}
.titleBox .selectTab ul{top: 58px; left: 50%; margin-left: -222.5px; max-width: 445px; background-color: #fff;}
.titleBox .selectTab ul li a{font-size: 18px; padding-left: 35px; text-indent: -16px;}
.titleBox .selectTab ul li a:before{content: '-'; padding-right: 5px;}
.titleBox .selectTab + .innerTxt{margin-top: 30px;}
.accordionWrap{border-bottom: 1px solid #777777;}
.subTit + .accordionWrap{margin-top: 20px;}

/* dataStandard span */
.dataStandard{position: relative;}
.dataStandard span{position: absolute; right: 0; bottom: 0; z-index: 1; font-size: 16px; font-weight: 400; color: #777;}

/* corporate Overview CNT_E_042 */
.overviewTit {overflow:hidden;}
.overviewTit h4 {font-size:28px; line-height:1.4; color:#111; margin-bottom:40px;}
.overviewTit h4 span {display:block;}
.overviewTit p {margin-bottom:40px;}
.overviewCont .buttonArea {text-align:right; margin-bottom:60px;}
#CNT_E_042 .tableBasicList {border-bottom:1px solid #777777; margin-bottom:20px;}
#CNT_E_042 .tableBasicList th {height:60px; box-sizing:border-box;}
#CNT_E_042 .tableBasicList td {height:60px; box-sizing:border-box;}
#CNT_E_042 .tableBasicList td.title {text-align:left; padding-left:20px;}
#CNT_E_042 .gray {display:block; color:#777777;}
.overviewCont h4 {font-size:24px; margin-bottom:20px; font-weight:600; color:#111}

/* corporate 정관 CNT_E_043 */
.smallTit + section{margin-top: 35px;} /*부 칙(2015.3.13)*/
section + .smallTit{display: block; margin-top: 35px;} /*부 칙 (2015.9.2)*/
.revision{margin-top: 20px;}
/* numList */
.numList, #CNT_K_051 .roundNumList, #CNT_K_051 .sub{padding: 5px 0;}
.numList.pT0, #CNT_K_051 .roundNumList.pT0{padding: 0;}
.numList > li {list-style-type: decimal; text-indent: 0; margin-left: 32px; line-height: 1.8;}
.roundNumList > li {padding-left: 18px; text-indent: -18px; line-height: 1.8;}
.revision ul {overflow: hidden;}
.revision ul li {float: left; width: 33%; line-height: 1.6;}
#CNT_E_043 .defaultGrayDotList li {background-image: none; padding-left: 0;}

/* corporate 윤리강령 CNT_E_044 */
#CNT_E_044 .corporate{margin-bottom: 80px;}
#CNT_E_044 .txt + section, #CNT_E_044 section + .subTit{margin-top: 35px;}
#CNT_E_044 ul.noneBg{padding: 10px 0;}
#CNT_E_044 ul.noneBg li{padding-left: 0; background-image: none;}

/* corporate 이사회 구성 CNT_E_045 */
.directorList {margin-top: 40px;}
.bigTit{line-height: 1.6;}
#CNT_E_045 .contTit{margin-top: 35px;}
#CNT_E_045 .contTit + .txt{margin-top: 12px;}
#CNT_E_045 .topBox .txt{margin-top: 30px;}
#CNT_E_045 .listBu li{color: #777;}
/* directCon */
.downBox{padding: 40px 0; text-align: right; border-bottom: 1px solid #d9d9d9;}
.dirListBox{float: left; width: 32%; cursor: pointer;}
.dirListBox.middle{margin: 0 2%;}
.dirListName{position: relative; padding: 30px; box-sizing: border-box;}
.dirListName:after{content: ''; position: absolute; right: 0; top: -52px; display: block; width: 18px; height: 18px; padding: 17px; background: url(/images/front/icon/ico_white_plus.png) no-repeat center #b9c0c5;}
.dirListBox.active .dirListName:after{background-image: url(/images/front/icon/ico_white_minus.png); background-color: #0c4da2;}
.dirListName span{display: block; padding-bottom: 9px; font-size: 20px;}
.directCon{display: none; position: relative; z-index: 1; width: 1100px; margin-top: 10px; padding: 30px; background-color: #fbfbfb; border-bottom: 1px solid #d9d9d9; box-sizing: border-box;} /* 내용숨김 */
.dirInfo.first{clear: both; overflow: hidden; margin-bottom: 30px; border-bottom: 2px dotted #dbdbdb;}
.dirInfo.first .dot{margin-bottom: 30px;}
.dirInfo .dot{float: left; padding-left: 16px; padding-right: 60px; background: url(/images/front/icon/ico_listdot_type02.jpg) no-repeat left 8px;}
.dirInfo .subTit{display: block; margin-bottom: 12px;}
.career{padding: 0 16px;}
.career li{clear: both; overflow: hidden; padding-bottom: 16px; padding-left: 9px; text-indent: -9px;}
.career li:last-child{padding-bottom: 0;}
.career span{display: block; float: left;}
.career .year{width: 21%; max-width: 165px; padding: 0 0 0 5px; color: #555; box-sizing: border-box;}
.career .text{width: 79%;}
.career + .subTit{margin-top: 30px;}
/* directCon normal */
.dirListImg{position: relative; overflow: hidden;}
.dirListImg img{display: block; width: 100%; height: auto; transition: transform .3s ease-out;}
.dirListImg:hover img {transform: scale(1.1);}
.dirListImg img.moImg{display: none;}
/* directCon "active" */
.dirListBox.active .dirListImg:after{content: ''; position: absolute; left: 0; top: 0; z-index: 0; width: 100%; height: 100%; border: 3px solid #0c4da2; box-sizing: border-box;}
.dirListBox.active .directCon{display: block; margin-bottom: 40px;}
.dirListBox.off .dirListImg:after{display: none;}
/* directCon "off" */
.dirListBox.off .dirListImg img{opacity: 0.4;}
/* directCon location */
.dirListBox.middle .directCon{left:-106%}
.dirListBox.right .directCon{left:-212%;}

/* corporate 운영&역할 CNT_E_046 */
#CNT_E_046 ul + .contTit, #CNT_E_046 .txt + .contTit{margin-top: 50px;}
#CNT_E_046 .contTit + .txt, #CNT_E_046 .boldTxt + .listBu{margin-top: 12px;}
#CNT_E_046 .boldTxt{margin-top: 35px;}
#CNT_E_046 .contTit + ul {margin-top: 8px;}
#CNT_E_046 .listBu + .txt{margin-top: 5px;}

/* corporate 활동내역 & 평가보상 CNT_E_047 */
#CNT_E_047 .contTit{margin-bottom: 12px;}
#CNT_E_047 .accordionWrap{margin: 8px 0 40px;}
#CNT_E_047 .contTit + .tableBasicList, #CNT_E_047 .txt + .listBu{margin-bottom: 40px;}
#CNT_E_047 .txt + .contTit{margin-top: 40px;}
#CNT_E_047 .tableBasicList td{padding: 20px;}
.dataStandard02{display: block; height: 0; position: relative; bottom: 40px; z-index: 1; padding-left: 30%; text-align: right; font-size: 16px; font-weight: 400; color: #777;}

/*  corporate 개요  CNT_E_048 */
#CNT_E_048 .txt{margin-top: 30px;}
#CNT_E_048 .contTit{margin-top: 60px;}
#CNT_E_048 .tableBasicList{margin-top: 20px;}
#CNT_E_048 .whiteBtn.small{min-width: 159px;}
/* ul table */
.reportList {margin-top: 20px; overflow:hidden; border-top:1px solid #0c4da2; border-bottom:1px solid #777777;}
.reportList li {display: table; table-layout: fixed; float: left; width:50%; min-height: 80px; overflow:hidden; border-bottom:1px solid #d9d9d9; border-right: 1px solid #d9d9d9;}
.reportList li:nth-child(2n) {border-right:0;}
.reportList li:nth-child(5), .reportList li:last-child{border-bottom: 0;}
.reportList li .tit {display: table-cell; width:50%; padding: 20px 4px; text-align:center;vertical-align: middle; box-sizing:border-box; background:#f8f8f8; font-size:16px;border-right: 1px solid #d9d9d9;}
.reportList li .btnArea {display: table-cell; width: 50%; text-align:center;vertical-align: middle;}
/* .reportList li:nth-child(3) .tit, .reportList li:nth-child(4) .tit {padding: 20px 4px; line-height: 20px;} */

/* bg blue ul */
.reportList.bgBlue li{border-right: 0;}
.reportList.bgBlue .tit{background-color: #eff8fe; color: #0c4da2;}
/* bg blue table */
.tableBasicList th.bgBlue, .tableBasicList td.bgBlue{background-color: #eff8fe;}
.tableBasicList th.bgBlue{color: #0c4da2;}
.tableBasicList tbody td.noneBorder{border-left: 0;}
.bgBlue.minWidth{min-width: 168px;}
    /* button */
    .whiteBtn {display: inline-block; min-width: 140px; padding: 0 20px; margin: 0 4px 0 0; background-color: #ffffff; color: #333333; font-size: 18px;}
    .whiteBtn.small {padding: 0 15px; height: 40px; border: 1px solid #555; font-size: 14px;}
    .whiteBtn .icoMore{display: inline-block; width: 15px; height: 17px; margin-right: 6px; background: url(/images/front/icon/icoMore02.png) no-repeat; vertical-align: middle;}

#CNT_E_048 .tableWrap .tableBasicList{float: left; width: 50%;}
#CNT_E_048 .tableWrap .tableBasicList.borderL{border-left: 1px solid #ddd; box-sizing: border-box;}

/*  corporate 경영위원회 CNT_E_049 */
#CNT_E_049 .txt + .tableBasicList{margin-top: 12px;}
#CNT_E_049 .tableBasicList + .subTit, #CNT_E_049 .listBu + .subTit{margin-top: 40px;}

/*  corporate 감사위원회 CNT_E_050 */
#CNT_E_050 .listBu + .subTit, #CNT_E_050 .txt + .subTit{margin-top: 40px;}
#CNT_E_050 .txt + .listBu{margin-top: 8px;}
#CNT_E_050 .listBu + .tableBasicList{margin-top: 12px;}
#CNT_E_050 .tableBasicList + .txt{margin-top: 12px;}

/*  corporate 사외이사후보추천위원회 CNT_E_051 */
#CNT_E_051 .listBu + .subTit{margin-top: 40px;}
#CNT_E_051 .txt + .listBu{margin-top: 8px;}
#CNT_E_051 .listBu + .tableBasicList{margin-top: 12px;}
#CNT_E_051 .tableBasicList + .txt{margin-top: 12px;}
#CNT_E_051 .tableBasicList + .subTit{margin-top: 40px;}

/*  corporate 보상위원회 CNT_E_052 */
#CNT_E_052 .listBu + .subTit{margin-top: 40px;}
#CNT_E_052 .tableBasicList + .subTit{margin-top: 40px;}
#CNT_E_052 .listBu + .tableBasicList{margin-top: 12px;}
#CNT_E_052 .listBu + .txt {margin-top: 5px;}

/*  corporate 내부거래위원회 CNT_E_053 */
#CNT_E_053 .listBu + .subTit{margin-top: 40px;}
#CNT_E_053 .tableBasicList + .subTit{margin-top: 40px;}
#CNT_E_053 .listBu + .tableBasicList{margin-top: 12px;}

/*  corporate CSR위원회 CNT_E_054 */
#CNT_E_054 .listBu + .subTit{margin-top: 40px;}
#CNT_E_054 .tableBasicList + .subTit{margin-top: 40px;}
#CNT_E_054 .listBu + .tableBasicList{margin-top: 12px;}

/* corporate 거버넌스위원회 CNT_E_055 */
#CNT_E_055 .txt + .listBu{margin-top: 8px;}
#CNT_E_055 .listBu + .tableBasicList{margin-top: 12px;}
#CNT_E_055 .txt + .listBu + .txt{margin-top: 12px;}
#CNT_E_055 .txt + .txt.type01{margin-top: 12px;}
#CNT_E_055 .boldTxt{margin-top: 12px;}
#CNT_E_055 .pL20{padding-left: 20px;}
#CNT_E_055 .subTit {margin-top: 40px;}

/* corporate 외부감사인 CNT_E_056 */
#CNT_E_056 .txt, #CNT_E_056 .listBu, #CNT_E_056 .tableBasicList{margin-top: 20px;}
#CNT_E_056 .txt + .contTit{margin-top: 40px;}

/* COMMON STYLE */
/* list */
.listBu li {padding-left: 12px; background: url(/images/front/icon/ico_listdot_type02.jpg) no-repeat 1px 11px; color: #555555; line-height: 1.6;}
/* pc block > mobile inline */
.bigTit > span, .txt > span {display: block;}
/* 연관정보 바로가기 */
.relationInfo{margin-top: 60px;}
/* shareList */
#CNT_E_042 .shareList,
#CNT_E_046 .shareList, #CNT_E_047 .shareList, #CNT_E_048 .shareList, 
#CNT_E_049 .shareList, #CNT_E_050 .shareList, #CNT_E_051 .shareList, 
#CNT_E_052 .shareList, #CNT_E_053 .shareList, #CNT_E_054 .shareList, 
#CNT_E_055 .shareList, #CNT_E_056 .shareList{margin-top: 80px;}
/* 아코디언 */
.accordion {position: relative; cursor: pointer; padding: 44px 29px 44px 30px; width: 100%; border: none; border-top: 1px solid #d9d9d9; color: #111; font-size: 24px; text-align: left; font-weight: 700; outline: none; word-break: keep-all; transition: 0.4s; } 
.accordion.active, .accordion:hover {color: #0c4da2; border-top: 1px solid #0c4da2;}
.accordion:after{position: absolute; right: 29px; top: 50%; z-index: 1; content: ''; display: block; margin-top: -13px; width: 26px; height: 26px; float: right; background: url(/images/front/icon/ico_gray_plus.png) no-repeat center;}
.accordion.active:after { content: ""; background-image: url(/images/front/icon/ico_blue_minus.png)}
.panel {padding: 0 30px; background-color: #fbfbfb; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;}
.accordion + .panel .panelIn {padding: 40px 0;}
.accordion.active + .panel{border-top: 1px solid #d9d9d9;}

@media screen and (max-width: 927px){
    /*  corporate 개요  CNT_E_048 */
   .reportList li:nth-child(4) .tit{padding: 20px 26px;}
   .reportList li:nth-child(5) .tit{padding: 20px 15px;}
   .reportList li:nth-child(6) .tit{padding: 20px 13%;}
}
/* MOBILE */
@media screen and (max-width: 812px){
    .corporate section + section {margin-top: 30px;}
    .subTit + .accordionWrap{margin-top: 15px;}
    .smallTit + .txt, .subTit + .txt, .subTit + ul {margin-top: 8px;}
    .txt + .subTit {margin-top: 30px;}
    .corporate .accordionWrap{margin-bottom: 30px;}
    .btnArea.pcType{display: none;}
    #CNT_K_051 .txt, #CNT_K_051 .numList li, #CNT_K_051 .roundNumList li{font-size: 15px;}
    #CNT_K_052 .txt, #CNT_K_052 .numList li, #CNT_K_052 .roundNumList li{font-size: 15px;}


    /* dataStandard span */
    .dataStandard{position: relative;}
    .dataStandard span{position: static; display: block;}

    /* 타이틀 영역 */
    .corporate{margin-top: 20px;}
    .titleBox{margin-bottom: 10px;}
    .titleBox, .titleBox.bg01, .titleBox.bg02{padding: 20px 10px;}
    .titleBox.bg05{padding: 37px 10px;}
    .titleBox .selectTab .select button{max-width: 100%; left: 0; margin-left: 0; padding: 10px 32px 10px 19px;}
    .titleBox .selectTab ul{top: 41px; max-width: 100%; margin-left: -50%;}
    .titleBox .selectTab .select button:after{top: 50%; margin-top: -3px;}
    .titleBox .selectTab + .innerTxt {margin-top: 20px;}
    .titleBox .selectTab ul li a{text-indent: -15px;}
    .innerTxt{font-size: 15px;}
    .titleBox + .btnArea .fillBtn {margin-top: 10px;}
    .titleBox + .btnArea {margin-top: 10px;}
    /* none bg */
    .titleBox.bg02, .titleBox.bg03{background-image: none; padding: 0;}/*윤리강령*/
    .titleBox.bg02 .selectTab .select button, .titleBox.bg03 .selectTab .select button{border: 1px solid #0c4da2;}

    /* corporate Overview CNT_E_042 */
    .overviewTit h4 {margin-bottom:20px; font-size:21px;}
    .overviewTit h4 span {display:inline;}
    .overviewTit p {margin-bottom:15px; font-size:15px;}
    .overviewCont .buttonArea {text-align:center; margin-bottom:30px;}
    .overviewCont .buttonArea button {height:40px; line-height:40px; font-size:14px;}
    .overviewCont h4 {margin-bottom:20px; font-size:21px;}

    /* corporate 정관 CNT_E_043 */
    .titleBox .left{float: none; width: 100%;}
    .titleBox .right {display: none;}
    .corporate .color01, .corporate .smallTit, .corporate .subTit{font-size: 16px;}
    .smallTit + section, section + .smallTit{margin-top: 30px;} /*부 칙*/
    .revision{margin-top: 15px;}
    .titleBox.bg02 .selectTab .select button{color: #0c4da2; font-weight: normal;}

    /* corporate 윤리강령 CNT_E_044 */
    #CNT_E_044 .corporate{margin-bottom: 30px;}
    #CNT_E_044 .txt + section, #CNT_E_044 section + .subTit{margin-top: 30px;}
    #CNT_E_044 ul.noneBg{padding: 5px 0;}
    .titleBox.bg03 .selectTab .select button{color: #0c4da2; font-weight: normal;}

    /* corporate 이사회 구성 CNT_E_045 */
    #CNT_E_045 .contTit + .txt {margin-top: 15px;}
    #CNT_E_045 .topBox .txt{margin-top: 15px; font-size: 15px;}
    #CNT_E_045 .contTit{margin-top: 30px;}
    .directCon{position: static; width: auto; padding: 15px 10px;}
    .dirListBox{float: none; width: 100%;}
    .dirListBox.middle{margin: 0;}
    .dirListImg img{display: none;}
    .dirListImg img.moImg{display: block;}
    /* directCon */
    .directCon{margin-top: 0;}
    .dirListBox.middle .directCon, .dirListBox.right .directCon{left: 0;}
    .dirListName{padding: 20px 0; font-size: 15px;}
    .dirListName span{font-size: 18px; font-weight: 700;}
    .dirListName:after{top: -38px; width: 17px; height: 17px; padding: 10px;}
    .dirListBox.active .directCon{margin-bottom: 30px;}
    .downBox{text-align: left;}
    #CNT_E_045 .directorList + .contTit{margin-top: 0;}
    .dirInfo .dot{float: none; padding-left: 8px; padding-right: 0; font-size: 15px;}
    .dirInfo.first{padding-bottom: 0; margin-bottom: 15px;}
    .dirInfo.first .subTit{display: block; position: absolute; left: 8px; top: 0; z-index: 1; font-size: 15px;}
    .dirInfo.first .dot{position: relative; padding-left: 150px; padding-bottom: 15px; margin-bottom: 0;}
    .dirInfo .subTit{margin-bottom: 15px;}
    ul.career{margin-top: 0;}
    .career li{padding-bottom: 15px;}
    .career span{font-size: 14px;}
    .career span.year{padding: 0; width: 30%; min-width: auto; max-width: 130px;}
    .career span.text{width: 70%;}
    .dirInfo .subTit{margin-bottom: 10px;}
    .career + .subTit{margin-top: 15px;margin-bottom: 10px;}

    /* corporate 운영&역할 CNT_E_046 */
    #CNT_E_046 ul + .contTit, #CNT_E_046 .txt + .contTit{margin-top: 30px;}
    #CNT_E_046 .contTit + .txt{margin-top: 15px;}
    #CNT_E_046 .boldTxt{margin-top: 15px;}
    #CNT_E_046 .boldTxt + .listBu{margin-top: 10px;}
    #CNT_E_046 .contTit + ul {margin-top: 10px;}
    #CNT_E_046 .listBu + .txt{margin-top: 15px;}

    /* corporate 활동내역 & 평가보상 CNT_E_047 */
    #CNT_E_047 .contTit{margin-bottom: 15px;}
    #CNT_E_047 .accordionWrap + .contTit{margin-top: 30px;}
    #CNT_E_047 .txt + .contTit{margin-top: 30px;}
    #CNT_E_047 .contTit + .tableBasicList{margin-bottom: 30px;}
    #CNT_E_047 .txt + .listBu{margin-bottom: 20px;}
    .dataStandard02{height: auto; bottom: 0; padding: 0; text-align: left;}
    #CNT_E_047 .contTit + .txt + .txt {margin-top: 15px;}

    /*  corporate 개요  CNT_E_048 */
    #CNT_E_048 .txt {margin-top: 15px;}
    #CNT_E_048 .contTit{margin-top: 30px;}
    #CNT_E_048 .tableBasicList{margin-top: 15px;}
    #CNT_E_048 .tableWrap .tableBasicList{float: none; width: 100%;}
    #CNT_E_048 .tableWrap .tableBasicList.borderL{border-left: 0;}
    #CNT_E_048 .pcType{display: none;}
    /* ul table */
    .responWrap{overflow-x: scroll; width: 100%;}
    .reportList {min-width: 375px; margin-top: 15px;}
    .reportList li{width:100%; border-right: 0;}
    .reportList li .tit{font-size: 15px;}
    .reportList li:nth-child(2n){border-right:0;}
    .reportList li:nth-child(5){border-bottom: 1px solid #d9d9d9;}
    .reportList li:nth-child(4) .tit, .reportList li:nth-child(5) .tit, .reportList li:nth-child(6) .tit{padding: 20px 5px;}

    /*  corporate 경영위원회 CNT_E_049 */
    #CNT_E_049 .txt + .tableBasicList{margin-top: 15px;}
    #CNT_E_049 .tableBasicList + .subTit, #CNT_E_049 .listBu + .subTit{margin-top: 30px;}

    /*  corporate 감사위원회 CNT_E_050 */
    #CNT_E_050 .listBu + .subTit, #CNT_E_050 .txt + .subTit{margin-top: 30px;}
    #CNT_E_050 .txt + .listBu{margin-top: 15px;}
    #CNT_E_050 .listBu + .tableBasicList{margin-top: 15px;}
    #CNT_E_050 .tableBasicList + .txt{margin-top: 15px;}

    /*  corporate 사외이사후보추천위원회 CNT_E_051 */
    #CNT_E_051 .listBu + .subTit{margin-top: 30px;}
    #CNT_E_051 .txt + .listBu, #CNT_E_051 .txt + .txt{margin-top: 15px;}
    #CNT_E_051 .listBu + .tableBasicList{margin-top: 15px;}
    #CNT_E_051 .tableBasicList + .txt{margin-top: 15px;}
    #CNT_E_051 .tableBasicList + .subTit{margin-top: 30px;}

    /*  corporate 보상위원회 CNT_E_052 */
    #CNT_E_052 .listBu + .subTit{margin-top: 30px;}
    #CNT_E_052 .tableBasicList + .subTit{margin-top: 30px;}
    #CNT_E_052 .listBu + .tableBasicList{margin-top: 15px;}

    /*  corporate 내부거래위원회 CNT_E_053 */
    #CNT_E_053 .listBu + .subTit{margin-top: 30px;}
    #CNT_E_053 .tableBasicList + .subTit{margin-top: 30px;}
    #CNT_E_053 .listBu + .tableBasicList{margin-top: 15px;}

    /*  corporate CSR위원회 CNT_E_054 */
    #CNT_E_054 .listBu + .subTit{margin-top: 30px;}
    #CNT_E_054 .tableBasicList + .subTit{margin-top: 30px;}
    #CNT_E_054 .listBu + .tableBasicList{margin-top: 15px;}

    /* corporate 거버넌스위원회 CNT_E_055 */
    #CNT_E_055 .txt + .listBu{margin-top: 15px;}
    #CNT_E_055 .listBu + .tableBasicList{margin-top: 15px;}
    #CNT_E_055 .txt + .listBu + .txt{margin-top: 15px;}
    #CNT_E_055 .txt + .txt{margin-top: 15px;}
    #CNT_E_055 .boldTxt{margin-top: 15px;}
    #CNT_E_055 .pL20{padding-left: 15px;}
    #CNT_E_055 .txt > .pL20{padding: 0;}
    #CNT_E_055 .txt + .pL20{margin-bottom: 15px;}
    #CNT_E_055 .subTit {margin-top: 30px;}
    #CNT_E_055 .fillBtn{padding: 0 14px;}

    /* corporate 외부감사인 CNT_E_056 */
    #CNT_E_056 .txt, #CNT_E_056 .listBu, #CNT_E_056 .tableBasicList{margin-top: 15px;}
    #CNT_E_056 .txt + .contTit{margin-top: 20px;}
    #CNT_E_056 .dataStandard span{text-align: right;}

    /* pc block > mobile inline */
    .bigTit > span, .txt > span, .innerTxt span, .txt span, .listBu .listSapn span{display: inline;}
    /* shareList */
    #CNT_E_042 .shareList,
    #CNT_E_046 .shareList, #CNT_E_047 .shareList, #CNT_E_048 .shareList, 
    #CNT_E_049 .shareList, #CNT_E_050 .shareList, #CNT_E_051 .shareList, 
    #CNT_E_052 .shareList, #CNT_E_053 .shareList, #CNT_E_054 .shareList, 
    #CNT_E_055 .shareList, #CNT_E_056 .shareList{margin-top: 30px;}
    /* 내용 짧은 테이블용 */
    .defaultTable.minW100{min-width: 100%;}

    /* 아코디언 */
    .accordion {padding: 18px 15px; font-size: 17px;}
    .accordion:after, .accordion.active:after{right: 13px; margin-top: -6.5px; width: 13px; height: 13px; background-size: 13px 13px;}
    .accordion + .panel{padding: 0 10px;}
    .accordion + .panel .panelIn {padding: 20px 0;}
    
}

@media screen and (max-width: 480px){
    /* corporate 이사회 구성 CNT_E_045 */
    .career span.year{width: 50%;}
    .career span.text{width: 50%;}

}
