@charset "utf-8";

/* visual bg */
#contentsWrap .visualWrap{background-image: url(/images/front/common/pic_visual_03.jpg);}

/* corporate 정관 CNT_K_051 */
.titleBox .left, .titleBox .right {float: left; width: 50%;}
.titleBox .right{text-align: right;}
.titleBox .selectTab .select button{padding: 19px 32px 18px 19px; max-width: 445px; font-size: 18px; font-weight: 600; color: #333333;}
.titleBox .selectTab .select button:after{top: 24px; right: 19px;}
.titleBox .selectTab ul{top: 58px; max-width: 445px;}
.corporate{padding-top: 50px;}
.corporate h4{padding-bottom: 12px; font-size: 20px;}
.txt{line-height: 1.8;}
/* numList */
.txt + ul {margin-top: 5px;}
.numList, #CNT_K_051 .roundNumList, #CNT_K_051 .sub{padding: 5px 0;}
.numList.pT0, #CNT_K_051 .roundNumList.pT0{padding: 0;}
.numList > li {list-style-type: decimal; text-indent: 0; margin-left: 32px; line-height: 1.8;}
.roundNumList > li {padding-left: 18px; text-indent: -18px; line-height: 1.8;}
.revision ul {overflow: hidden;}
.revision ul li {float: left; width: 33%; line-height: 1.6;}
.defaultGrayDotList li {background-position: 0 10px;}

/* corporate 이사회 구성 CNT_K_053 */
.directorList {margin-top: 40px;}
#CNT_K_053 .bigTit{line-height: 1.6;}
.downBox{padding: 40px 0; margin-bottom: 50px; text-align: right; border-bottom: 1px solid #d9d9d9;}
.dirListBox{float: left; width: 32%;}
.dirListBox.middle{margin: 0 2%;}
.dirListName{position: relative; padding: 30px; color: #333;}
.dirListName:after{content: ''; position: absolute; right: 30px; top: 50%; margin-top: -13px; display: block; width: 26px; height: 26px; background: url(/images/front/icon/ico_gray_plus.png) no-repeat ;}
.dirListBox.active .dirListName:after{background-image: url(/images/front/icon/ico_blue_minus.png);}
.dirListName span{display: inline-block; padding-bottom: 9px; font-size: 24px;}
.directCon{display: none; margin-top: 10px; padding: 30px; background-color: #fbfbfb; border-bottom: 1px solid #d9d9d9;} /* 내용숨김 */
.dirInfo.first{padding-bottom: 30px; margin-bottom: 30px; border-bottom: 2px dotted #dbdbdb;}
.dirInfo .dot{display: inline-block; padding-left: 16px; padding-right: 60px; background: url(/images/front/icon/ico_listdot_type02.jpg) no-repeat left 8px;}
.dirInfo .subTit{display: inline-block; padding-bottom: 12px;}
.career{padding: 0 16px;}
.career li{clear: both; overflow: hidden; padding-bottom: 16px;}
.career li:last-child{padding-bottom: 0;}
.career span{display: block; float: left;}
.career span.year{padding: 0 25px 0 5px; min-width: 137px; color: #555;}
#CNT_K_053 .topBox .txt{padding-top: 40px;}
.txt.mt_20{margin-top: 10px;}

/* corporate 운영&역할 CNT_K_054 */
#CNT_K_054 .mt_50{margin-top: 40px;}
#CNT_K_054 .mb_80{margin-bottom: 80px;}

/* directCon normal */
.dirListImg{position: relative; max-height: 368px; overflow: hidden;}
.dirListImg img{display: block; width: 100%; height: auto;}
.dirListImg img.offImg{display: none;} /* 내용보임 */
/* directCon "active" */
.dirListBox.active .dirListImg:after{content: ''; position: absolute; left: 0; top: 0; z-index: 0; width: 100%; height: 100%; border: 3px solid #0c4da2; box-sizing: border-box;}
.dirListBox.active .directCon{display: block;}
.dirListBox.off .dirListImg:after{display: none;}
/* directCon "off" */
.dirListBox.off .dirListImg img{display: none;} /* normal 이미지 none */ 
.dirListBox.off .dirListImg img.offImg{display: block;} /* off 이미지 block */
.dirListBox.off .dirListName{opacity: 0.4;} /* 이름 및 내용 0.4 투명 */


/* COMMON STYLE */
/* margin */
.mt_50{margin-top: 50px;}
.mt_40{margin-top: 40px;}
.mt_30{margin-top: 30px;}
.mt_20{margin-top: 20px;}
/* list */
.listBu li {
    padding-left: 12px;
    background: url(/images/front/icon/ico_listdot_type02.jpg) no-repeat 1px 11px;
    color: #555555;
    line-height: 1.6;
}
/* pc block > mobile inline */
#CNT_K_053 .bigTit > span {display: block;}
/* 연관정보 바로가기 */
.relationInfo{margin-top: 60px;}

/* MOBILE */
@media screen and (max-width: 1024px){
    /* corporate 정관 CNT_K_051 */
    .titleBox .left{float: none; width: 100%;}
    .titleBox .right {display: none;}

    /* corporate 이사회 구성 CNT_K_053 */
    #CNT_K_053 .topBox .txt{padding-top: 20px;}

    /* pc block > mobile inline */
    #CNT_K_053 .bigTit > span {display: inline;}
}