@charset "utf-8";

/* visual bg */
#contentsWrap .visualWrap{background-image: url(/images/front/common/pic_visual_04.jpg);}

/* etc - Site map */
#CNT_K_065:after{content: ''; display: block; clear: both; overflow: hidden;}
#CNT_K_065 article{float: left; width: 30.9%;}
#CNT_K_065 article:nth-child(2){padding: 0 3.65%;}
.sMapTit{padding-bottom: 20px; border-bottom: 1px solid #0c4da2; font-size: 24px; color: #0c4da2;}
.smDepth02 > li{border-bottom: 1px solid #d9d9d9;}
.smDepth02 > li > a{display: block; padding: 31px 29px; margin-right: 29px; font-size: 18px; color: #111;}
.smDepth02 > li > a.smDepth{background: url(/images/front/icon/ico_gray_plus.png) no-repeat 100% center; background-size: 26px;}
.smDepth02 > li > a.active{background-image: url(/images/front/icon/ico_blue_minus.png);}
.smDepth03{display: none; padding: 31px 30px; background-color: #fbfbfb; border-bottom: 1px solid #eaeaea;}
.smDepth03 li{padding-left: 15px; margin-bottom: 16px; background: url(/images/front/icon/ico_listdot_type01.jpg) no-repeat left center;}
.smDepth03 li:last-child{margin-bottom: 0;}

/* MOBILE */
@media screen and (max-width: 1024px){

}