@charset "utf-8";

/* visual bg */
#contentsWrap .visualWrap{background-image: url(/images/front/common/pic_visual_04.jpg);}

/* etc - Site map */
#CNT_K_065:after{content: ''; display: block; clear: both; overflow: hidden;}
#CNT_K_065 article{float: left; width: 30.9%;}
#CNT_K_065 article:nth-child(2){padding: 0 3.65%;}
.sMapTit{padding-bottom: 20px; border-bottom: 1px solid #0c4da2; font-size: 24px; color: #0c4da2;}
.smDepth02 > li{border-bottom: 1px solid #d9d9d9;}
.smDepth02 > li > a{display: block; padding: 31px 29px; margin-right: 29px; font-size: 18px; color: #111;}
.smDepth02 > li > a.smDepth{background: url(/images/front/icon/ico_gray_plus.png) no-repeat 100% center; background-size: 26px;}
.smDepth02 > li > a.active{background-image: url(/images/front/icon/ico_blue_minus.png);}
.smDepth03{display: none; padding: 31px 30px; background-color: #fbfbfb; border-bottom: 1px solid #eaeaea;}
.smDepth03 li{padding-left: 15px; margin-bottom: 16px; background: url(/images/front/icon/ico_listdot_type01.jpg) no-repeat left center;}
.smDepth03 li:last-child{margin-bottom: 0;}

/* 오류 */
.errorCon {width:100%;height:100%;background:#f7f7f7}
.errorCon .errorHead {width:100%;height:105px;box-sizing:border-box;border-bottom:2px solid #0c4da2;background:#fff}
.errorCon .errorHead div {max-width:1100px;margin:0 auto;position: relative;}
.errorCon .errorHead .logo {width:162px;height:29px;top:53px;}
.errorCon .errorHead .logo img {width:100%;}
.errorCon .errorCont {width:700px;margin:112px auto;background: url(/images/front/icon/error_bg.png) no-repeat 41px top;padding-left:359px;box-sizing:border-box;font-size:16px;color:#666}
.errorCon .errorCont .contTit {font-weight:700;color:#0c4da2;font-size:42px;margin-bottom:29px;}
.errorCon .errorCont .btnArea {margin-top:58px}
.errorCon .errorCont .btnArea .btnDefaultForm {display:inline-block;padding:18px 15px;background-color:#105d99;font-size:18px;color:#fff;border:none;border-radius:0;min-width:206px;text-align:center;margin-top:0}
/* .btnDefaultForm:hover {} */
/* MOBILE */
@media screen and (max-width: 1024px){

}