@charset "utf-8";

/* visual bg */
#contentsWrap .visualWrap{background-image: url(/images/front/common/pic_visual_02.jpg);}

/* IR - Overview CNT_K_028 */
.relationArticle {width: 100%; overflow: hidden;}
.relationArticle .title {display: block; font-size: 24px; color: #111; margin-bottom: 20px;}
.relationArticle ul {margin-bottom: 20px; border-top: 1px solid #0c4da2; border-bottom: 1px solid #777777;}
.relationArticle ul li {width: 100%; line-height: 60px; line-height: 60px; overflow: hidden; background: url(/images/front/icon/ico_listdot_type02.jpg) no-repeat 30px center; box-sizing: border-box; padding: 0 30px 0 40px; border-bottom: 1px solid #d9d9d9;}
.relationArticle ul li .boardTit {float: left; width: calc(100% - 100px); margin-right: 15px; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; white-space: nowrap;}
#CNT_K_028 .btnArea{margin-bottom: 80px;}
#CNT_K_028 .fillBtn.small{position: relative; padding-right: 42px; font-size: 14px; color: #fff; height: auto; line-height: 38px;}
#CNT_K_028 .fillBtn.small:after{content: ''; position: absolute; right: 14px; top: 50%; margin-top: -7px; width: 7px; height: 11px; background: url(/images/front/icon/ico_arrow02.png) no-repeat center; background-size: 7px 11px;}
.irTitWrap{margin-bottom: 40px;}
.irTitWrap .irTit{margin-bottom: 23px; font-size: 42px; font-weight: 700; color: #111;}
.irTitWrap .irInfo{margin-top: 13px; font-size: 20px;}
.irTitWrap .irInfo span {display: inline-block; min-width: 62px;}

.irLinkWrap{margin-bottom: 60px;}
.iframeWrap .iframeArea {overflow: hidden; overflow-x: auto; max-width: 100%; height: 250px;}
.irLinkWrap .iframeWrap{float: left; width: 29.818%; max-height: 250px;}
.iframeArea iframe {width: 100%; height: 250px;}
.irLinkWrap .irLink{float: right; width: 68.363%; height: 250px; text-align: center; font-size: 24px;}
.irLinkWrap .irLink .irA{display: block; float: left; width: 33.333%; height: 100%; padding: 31px 0 38px; background-repeat: no-repeat; background-position: center 130px; color: #fff; box-sizing: border-box;}
.irLinkWrap .irLink .irA01{background-image: url(/images/front/contents/bg_CNT_K_028_01.png); background-color: #46d1ab;}
.irLinkWrap .irLink .irA02{background-image: url(/images/front/contents/bg_CNT_K_028_02.png); background-color: #30aea6;}
.irLinkWrap .irLink .irA03{background-image: url(/images/front/contents/bg_CNT_K_028_03.png); background-color: #1c8fe7;}
.irLinkWrap .irLink .arrow{display: inline-block; width: 9px; height: 14px; margin-left: 10px; background: url(/images/front/icon/ico_arrow02.png) no-repeat center; background-size: 9px 14px;}
.irLinkWrap .irLink .irA:after{content: ''; position: relative; top: 12px; left: 50%; margin-left: -15px; display: block; width: 30px; height: 2px; background-color: #fff;}

/* IR - 신용등급 CNT_K_031 */
#CNT_K_031 .tableBasicList, #CNT_K_042 .tableBasicList{margin-bottom: 20px;}
#CNT_K_031 .txt, #CNT_K_042 .txt {margin-bottom: 20px;}
#CNT_K_031 .txt + ul, #CNT_K_042 .txt + ul {margin-bottom: 40px;}
#CNT_K_031 .contTit, #CNT_K_042 .contTit {margin-bottom: 20px;}
#CNT_K_031 .contTitsub, #CNT_K_042 .contTitsub {margin-bottom: 20px; font-size: 20px; line-height: 1.6;}
#CNT_K_031 .tableBasicList + p, #CNT_K_042 .tableBasicList + p{margin-bottom: 50px;}

/* IR - 감사보고서 CNT_K_032, CNT_K_034, CNT_K_036 */
.reportimg, .reportTit{float: left;}
.reportimg{padding: 0 70px 0 95px; text-align: center;}
.reportTit{padding: 40px 0 77px;}
.reportTit dt{padding-bottom: 40px; color: #0075c2; font-size: 42px;}
.reportTit dt span{color: #0c4ca3;}
.rightBtn{padding: 20px 0; text-align: right;}
.rightBtn + .pText{margin-bottom: 21px;}
.grayBox{padding: 21px 17px; margin-bottom: 80px; background-color: #f8f8f8; color: #555555; font-size: 14px; line-height: 1.4;}
.report.tableBasicList th, .report.tableBasicList td{padding: 30px 0;}
.report .defaultTable th{background-color: #fbfbfb; color: #111111; font-size: 24px;}
.report .btnArea{padding-left: 40px; margin-bottom: 0;}


/* 팝업 IR - 감사/검토 보고서 CNT_K_033 */
#CT-PCK-033{margin: 29px 45px 0;}
.popWrap #CT-PCK-033 .btnArea {padding: 0; margin-bottom: 0;}
    /* table */
    #CT-PCK-033 .defaultTable th {font-size: 24px; font-weight: 700; background-color: #fbfbfb;}
    #CT-PCK-033 .tableBasicList tbody td {padding: 20px 0 20px 30px;}
    /* button */
    #CT-PCK-033 .whiteBtn {display: inline-block; min-width: 140px; height: 56px; padding: 0 20px; margin: 0 4px 0 0; background-color: #ffffff; color: #333333; font-size: 18px;}
    #CT-PCK-033 .whiteBtn.small {padding: 0 15px; height: 40px; background-color: #ffffff; border: 1px solid #555; font-size: 14px;}
    #CT-PCK-033 .whiteBtn .icoDownload{display: inline-block; width: 19px; height: 17px; margin-right: 6px; background: url(/images/front/icon/ico_download02.png)no-repeat; vertical-align: middle;}

/* IR - IR일정 CNT_K_038 */
.planImg, .plan{float: left;}
.planImg{padding: 0 70px 0 95px; text-align: center;}
.planDl{padding-bottom: 88px;}
.planDl .planTit{font-size: 38px; font-weight: bold; line-height: 1.6; vertical-align: top;}
.planDate{padding-bottom: 39px; font-size: 24px;}
.yearPlanDiv{padding: 34px 0; border-top: 1px dashed #cbcbcb;}
.yearPlanDiv div{float: left; width: 50%;}
.yearPlanDiv.first{border-top: 0;}
.ypDate{color: #111111; font-size: 18px; vertical-align: middle;}
.upComing{display: inline-block; padding: 0 3px; border: 1px solid #f8c18c; background-color: #fff; color: #f1841a; font-size: 13px; line-height: 20px; vertical-align: middle;}
.upComing.type1{margin-left: 14px;}
.planBtn{margin-top: 10px; text-align: right;}
.planBtn button{margin-left: 10px;}
#CNT_K_038 .panel, #CNT_K_043 .panel{padding: 0 29px;} /* IR일정 아코디언*/
#CNT_K_038 .accordion, #CNT_K_043 .accordion {font-weight: 600;} 
#CNT_K_038 .whiteBtn.small{min-width: 159px;}

/* IR - 주식 및 주주정보 CNT_K_039 */
#CNT_K_039 .tableBasicList table tbody th {background:none;}
#CNT_K_039 .tableBasicList table {width:100%;}

/* IR - 주주구성 CNT_K_042 */
.dataStandard{position: relative;}
.dataStandard span{position: absolute; right: 0; bottom: 0; z-index: 1; font-size: 16px; font-weight: 400; color: #777;}
.fieldWrap{margin-bottom: 60px;}
.fieldWrap .fieldLeft{float: left; width: 431px; padding-left: 74px;}
.fieldWrap .fieldRight{float: right; width: 399px;}
#CNT_K_042 .fieldLeft img{display: inline-block; width: 100%; max-width: 431px;}
.tableData{border-top: 1px solid #0c4da2; border-bottom: 1px solid #777777;}
.tableData th, .tableData td{padding: 23px 20px; border-top: 1px solid #d9d9d9;}
.tableData th{position: relative; padding-left: 48px; text-align: left}
.tableData td{text-align: right;}
.tableData th:before{content: ''; position: absolute; left: 20px; top: 50%; z-index: 1; margin-top: -4px; width: 8px; height: 8px;}
.tableData th.icoColor01:before{background-color: #0080d5;}
.tableData th.icoColor02:before{background-color: #0c4da2;}
.tableData th.icoColor03:before{background-color: #94c01d;}
.tableData th.icoColor04:before{background-color: #765e93;}
.tableData th.icoColor05:before{background-color: #27b0c4;}
#CNT_K_042 .tableBasicList + .contTit{margin-top: 40px;}

/* IR - 주주총회 CNT_K_043 */
.listTit{margin-bottom: 20px; font-size: 18px; line-height: 1.6;}
.listBu li{padding-left: 12px; background: url(/images/front/icon/ico_listdot_type02.jpg) no-repeat 1px 11px; color: #555555; line-height: 1.6;}
.listTit + .listBu, .bthWrap, .btnArea{margin-bottom: 50px;}
.listTit + .color01, .listBu + .color01 {margin-bottom: 20px;}
.tableBasicList + .pText{margin-top: 20px;}
.tableBasicList + .listTit {margin-top: 50px;}

/* IR - 주주환원 CNT_K_044 */
#CNT_K_044 h4 {font-size:24px; font-weight:600; margin-bottom:20px; color:#111;}
.returnPolicyCont {margin-bottom:40px; line-height:1.6;} 
.returnPolicyCont ul.type01 {margin-bottom:10px;}
.returnPolicyCont ul.type01 li {background:url('/images/front/icon/ico_grayLine.png') no-repeat 0 12px; padding-left:15px;}
.returnPolicyCont p {margin-bottom:10px;}
.returnPolicyCont ul.type02 li {background:url('/images/front/icon/ico_grayDot.png') no-repeat 15px 12px; padding-left:25px;}
#CNT_K_044 .bottomArea {text-align:right; margin-bottom:40px;}
#CNT_K_044 .distributionList {margin-bottom:40px;}
#CNT_K_044 .tableBasicList {margin-bottom:20px; }
#CNT_K_044 .addNotice {color:#555555;}

/* IR - FAQ CNT_K_045 */
.faqWrap{padding-top: 60px; border-bottom: 1px solid #777777;}
.faqPart{display: block; padding-bottom: 10px; color: #0075c2; font-size: 16px;}
.faqPartMo{display: none; color: #0075c2;}
.faqWrap .panel{padding-left: 84px; line-height: 1.6; background: url(/images/front/contents/ico02_CNT_K-057.png) no-repeat 35px 52px #fbfbfb;} /* FAQ 아코디언*/
.faqWrap .accordion{padding: 42px 45px 42px 84px; background: url(/images/front/contents/ico01_CNT_K-057.png) no-repeat 35px center;}

/* IR - Contact IR CNT_K_049 */
.contactWrap {text-align:center; background:url('/images/front/contents/bg_CNT_K_049.png') no-repeat center bottom; padding-bottom:270px; margin-bottom:60px;}
.contactWrap h4 {margin-bottom:25px; font-size:24px; line-height:1.4;}
.contactWrap h4 .emphasisTxt {font-size:42px; font-weight:600; line-height:1.4; margin-bottom:20px;}
.contactWrap h4 > span {display:block;}
.contactWrap .telNum {display:block; margin-bottom:40px; font-size:24px; color:#000;}
.contactWrap .telNum img {vertical-align:middle; margin-right:10px;}
.contactWrap .inquiryBtn {display:inline-block; width:157px; height:56px; line-height:56px; background:#0c4da2 url('/images/front/icon/ico_inquiry.png') no-repeat 30px center; padding-left:40px; box-sizing:border-box; color:#fff; font-size:18px;}

/* COMMON STYLE */
/* 아코디언 */
.accordion {position: relative; cursor: pointer; padding: 44px 29px 44px 30px; width: 100%; border: none; border-top: 1px solid #d9d9d9; color: #111; font-size: 24px; text-align: left; outline: none; word-break: keep-all; transition: 0.4s; } 
.accordion.active, .accordion:hover {color: #0c4da2; border-top: 1px solid #0c4da2;}
.accordion:after{position: absolute; right: 29px; top: 50%; z-index: 1; content: ''; display: block; margin-top: -13px; width: 26px; height: 26px; float: right; background: url(/images/front/icon/ico_gray_plus.png) no-repeat center;}
.accordion.active:after { content: ""; background-image: url(/images/front/icon/ico_blue_minus.png)}
.panel {padding: 0 15px; background-color: #fbfbfb; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;}
.accordion + .panel .panelIn {padding: 41px 0;}
.accordion.active + .panel{border-top: 1px solid #d9d9d9;}

/* button */
.whiteBtn.small {padding: 0 15px; height: 40px; background: #ffffff; border: 1px solid #555; font-size: 14px;}
.whiteBtn .icoDownload{display: inline-block; width: 19px; height: 17px; margin-right: 6px; background: url(/images/front/icon/ico_download02.png)no-repeat; vertical-align: middle;}
.whiteBtn {display: inline-block; padding: 0 20px; height: 56px; background: #ffffff; color: #333333; font-size: 18px;}
.fillBtn .icoMore{display: inline-block; width: 15px; height: 17px; margin-right: 6px; background: url(/images/front/icon/icoMore01.png) no-repeat; vertical-align: middle;}
.whiteBtn .icoMore{display: inline-block; width: 15px; height: 17px; margin-right: 6px; background: url(/images/front/icon/icoMore02.png) no-repeat; vertical-align: middle;}
/* PDF icon */
.pdfIcon{display: inline-block; width: 17px; height: 16px; background: url(/images/front/icon/ico_pdf01.png) no-repeat; vertical-align: middle;}
/* table */
.tableBasicList th, .tableBasicList td {padding: 20px; color: #555555;}
/* 바로가기 버튼 */
.btnShortLink, a.btnShortLink{font-size: 14px;}
/* content inner border-bottom */
.borderBt{border-bottom: 1px solid #777777;}
/* grayDot customize */
.grayDotTxt{background-position: 0 9px; font-size: 16px; line-height: 1.4;}
.planBu{padding-left: 16px; line-height: 1.6; background: url(/images/front/icon/ico_listdot_type02.jpg) no-repeat left 12px; box-sizing: border-box; color: #555555;}

/* pText */
.pText{line-height: 1.4;}
/* shareList */
#CNT_K_038 .shareList, #CNT_K_039 .shareList, #CNT_K_042 .shareList
, #CNT_K_043 .shareList, #CNT_K_044 .shareList, #CNT_K_045 .shareList
, #CNT_K_046 .shareList, #CNT_K_047 .shareList, #CNT_K_048 .shareList
, #CNT_K_049 .shareList{margin-top: 80px;}
/* 연관정보 바로가기 */
.relationInfo{margin-top: 60px;}

@media screen and (max-width: 1068px){
    /* IR - Overview CNT_K_028 */
    .irLinkWrap .iframeWrap{float: none; width: 100%; margin-bottom: 10px;}
    .iframeWrap .iframeArea{height: 215px;}
    .irLinkWrap .irLink{float: none; width: 100%;}

    /* IR - IR일정 CNT_K_038, 감사보고서 CNT_K_032 */
    .planImg, .reportimg {width: 51%; padding: 0;}

    /* IR - 감사보고서 CNT_K_032 */
    .report .btnArea{padding-left: 10px;}
    .report .btnArea button{margin: 5px 0;}

    /* IR - 주주구성 CNT_K_042 */
    .fieldWrap .fieldLeft, .fieldWrap .fieldRight{float: none; width: 100%;}
    .fieldWrap .fieldLeft {padding-left: 0; margin-bottom: 20px; text-align: center;}

}
/* MOBILE */
@media screen and (max-width: 812px){
    /* margin 좌우 -20px */
    .fullwidth{margin: 0 -20px;}
    /* shareList */
    #CNT_K_038 .shareList, #CNT_K_039 .shareList, #CNT_K_042 .shareList
    , #CNT_K_043 .shareList, #CNT_K_044 .shareList, #CNT_K_045 .shareList
    , #CNT_K_046 .shareList, #CNT_K_047 .shareList, #CNT_K_048 .shareList
    , #CNT_K_049 .shareList{margin-top: 30px;}

    /* IR - Overview CNT_K_028 */
    .irLinkWrap .irLink .irA:after{top: 4px;}
    .iframeWrap .iframeArea{background: #265b97;}
    .irTitWrap{margin-bottom: 20px;}
    .irTitWrap .irTit{margin-bottom: 10px; font-size: 24px;}
    .irTitWrap .irInfo span {min-width: 38px;}
    .irTitWrap .irInfo{margin-top: 0; font-size: 16px;}
    .irLinkWrap {margin-bottom: 30px;}
    .irLinkWrap .irLink{height: auto; font-size: 18px;}
    .irLinkWrap .irLink .irA {padding: 15px 0 17.25%; background-size: 32%; background-position: center 75%;}
    .relationArticle .title{margin-bottom: 15px;}
    #CNT_K_028 .btnArea{margin-bottom: 30px;}
    .relationArticle ul li {background-position: left 6px center; padding: 10px 15px;}

    /* IR - 신용등급 CNT_K_031 */
    #CNT_K_031 .tableBasicList, #CNT_K_042 .tableBasicList{margin-bottom: 15px;}
    #CNT_K_031 .txt, #CNT_K_042 .txt {margin-bottom: 15px;}
    #CNT_K_031 .txt + ul, #CNT_K_042 .txt + ul {margin-bottom: 30px;}
    #CNT_K_031 .contTit, #CNT_K_042 .contTit {margin-bottom: 15px;}
    #CNT_K_031 .contTitsub, #CNT_K_042 .contTitsub {margin-bottom: 15px;}
    #CNT_K_031 .tableBasicList + p, #CNT_K_042 .tableBasicList + p{margin-bottom: 30px;}
    .defaultTable.minW100{min-width: 100%;}

    /* IR - 감사보고서 CNT_K_032, CNT_K_034, CNT_K_036 */
    .reportimg, .reportTit{float: none;}
    .reportimg{display: none;}
    .reportTit{padding: 0 0 26px;}
    .reportTit dt{font-size: 25px; padding-bottom: 22px;}
    .report{margin-bottom: 10px;}
    .report .defaultTable th{font-size: 18px;}
    .report .whiteBtn.small{min-width: 140px;}
    .report + .pText {margin-bottom: 10px;}
    .grayBox{margin-bottom: 30px;}
    .rightBtn{display: none;}

    /* 팝업 IR - 감사/검토 보고서 CNT_K_033 */
    #CT-PCK-033 .whiteBtn.small{margin-bottom: 5px;}

    /* IR - IR일정 CNT_K_038 */
    .planImg, .plan{float: none;}
    .planImg{display: none;}
    .planDl{padding-bottom: 26px;}
    .planDl .planTit{font-size: 25px;}
    .planDate{padding-bottom: 22px; font-size: 18px;}
    .yearPlanDiv{ padding: 21px 0;}
    .yearPlanDiv div{float: none; width: 100%;}
    .planBu{font-size: 14px;}
    .ypDate{font-size: 15px;}
    .planBtn{text-align: left; margin-top: 5px;}
    .planBtn button {margin-left: 0; margin-top: 10px;}
    .yearWrap .panel{padding: 0 15px;} /* IR일정 아코디언*/

    #CNT_K_038 .panel, #CNT_K_043 .panel {padding: 0 10px;}
    .listTit, .listBu li{font-size: 15px;}
    .listTit{margin-bottom: 15px;}
    .listBu li{background-position: 1px 9px;}
    .listTit + .listBu, .bthWrap, .btnArea {margin-bottom: 15px;}
    .listTit + .color01, .listBu + .color01 {margin-bottom: 15px;}
    .tableBasicList + .listTit {margin-top: 15px;}

    /* IR - 주주구성 CNT_K_042 */
    .fieldWrap {margin-bottom: 30px;}
    #CNT_K_042 .tableBasicList tfoot td {padding: 8px 10px; font-size: 15px;}
    #CNT_K_042 .tableBasicList + .contTit{margin-top: 30px;}

    /* IR - FAQ CNT_K_045 */
    .faqWrap{padding-top: 0;}
    .faqPartMo{display: inline-block;}
    .faqPart{display: none;}

    .faqWrap .panel{padding: 0 15px; font-size: 13px;} /* FAQ 아코디언*/
    .faqWrap .accordion + .panel .panelIn {padding: 14px 0;}
    .faqWrap .accordion {padding: 13px 52px 13px 15px; font-size: 15px;}
    .faqWrap .accordion, .faqWrap .panel{background-image: none;}

    /* 아코디언 */
    .accordion {padding: 18px 15px; font-size: 17px; line-height: 1.4;}
    .accordion:after, .accordion.active:after{right: 13px; margin-top: -6.5px; width: 13px; height: 13px; background-size: 13px 13px;}
    .accordion + .panel .panelIn {padding: 20px 0;}

    /* notiTxt */
    .notiTxt{display: block;}

    /* IR - Contact IR CNT_K_049 */
    #CNT_K_049 {padding:0;}
    .contactWrap {padding:0 20px; box-sizing:border-box;background:url('/images/front/contents/bg_CNT_K_049_m.png') no-repeat center bottom; background-size:100%; padding-bottom:50%; margin-bottom:20px;}
    .contactWrap h4 {margin-bottom:15px; font-size:15px;text-align:left;}
    .contactWrap h4 .emphasisTxt {font-size:21px; margin-bottom:20px; display:block;}
    .contactWrap h4 > span {display:inline;}
    .contactWrap .telNum {margin-bottom:20px;}
    .contactWrap .inquiryBtn {width:40%; height:45px; line-height:45px; background:#0c4da2; padding-left:0; box-sizing:border-box; color:#fff; font-size:16px;}
    #CNT_K_049 .shareList {margin:0 20px;}

}

@media screen and (max-width: 640px){
    /* IR - 주주구성 CNT_K_042 */
    #CNT_K_042 .dataStandard{margin-bottom: 35px;}
    .dataStandard span{bottom: -30px;}

    /* IR - Overview CNT_K_028 */
    .irLinkWrap .irLink .irA{width: 100%; float: none; padding: 15px 0 17.25%; background-size: 11%; background-position: center 78%;}
    .irLinkWrap .irLink .irA:after{top: -1px;}
}

@media screen and (max-width: 375px){
    /* button */
}



 
	
