@charset "utf-8";
.borderBt{border-bottom: 1px solid #777777;}

/* IR - 감사보고서 CNT_K_032 */
.reportTit{padding: 40px 0 77px 604px; background: url(/images/front/contents/bg_CNT_K_038.png) no-repeat 142px 0;}
.reportTit dt{padding-bottom: 40px; color: #0075c2; font-size: 42px;}
.reportTit dt span{color: #0c4da2;}
.rightBtn{padding: 20px 0; text-align: right;}
.grayBox{padding: 21px 17px; margin-top: 20px; background-color: #f8f8f8; color: #555555; font-size: 14px;}

#CNT_K_032 .defaultTable th{background-color: #fbfbfb; color: #111111; font-size: 24px; line-height: 100px;}
#CNT_K_032 .btnArea{padding-left: 40px;}


/* IR - IR일정 CNT_K_038 */
.planWrap{padding-left: 603px; background: url(/images/front/contents/bg_CNT_K_038.png) no-repeat 140px top;}
.planDl{padding-bottom: 88px;}
.planDl .planTit{font-size: 38px; font-weight: bold; line-height: 1.6; vertical-align: top;}
.planDate{padding-bottom: 39px; font-size: 24px;}
.yearPlanDiv{clear: both; overflow: hidden; padding: 34px 0; border-bottom: 1px dashed #cbcbcb;}
.yearPlanDiv div{float: left; width: 50%;}
.yearPlanDiv.last{border-bottom: 0;}
.planBu{padding-left: 16px; line-height: 1.6; background: url(/images/front/contents/bu_CNT_K-048.jpg) no-repeat left 12px; box-sizing: border-box; color: #555555;}
.ypDate{color: #111111; font-size: 18px; vertical-align: middle;}
.upComing{display: inline-block; padding: 0 3px; border: 1px solid #f8c18c; background-color: #fff; color: #f1841a; font-size: 13px; line-height: 20px; vertical-align: middle;}
.upComing.type1{margin-left: 14px;}
.planBtn{margin-top: 10px; text-align: right;}
.planBtn button{margin-left: 10px;}
#CNT_K_038 .panel{padding: 0 29px;} /* IR일정 아코디언*/
#CNT_K_038 .accordion {font-weight: 600;} 

/* IR - FAQ CNT_K_045 */
.faqWrap{padding-top: 60px; border-bottom: 1px solid #777777;}
.faqPart{display: block; padding-bottom: 10px; color: #0075c2; font-size: 16px;}
.faqPartMo{display: none; color: #0075c2;}
.faqWrap .panel{padding-left: 84px; line-height: 1.6; background: url(/images/front/contents/ico02_CNT_K-057.png) no-repeat 35px 52px #fbfbfb;} /* FAQ 아코디언*/
.faqWrap .accordion{padding: 42px 45px 42px 84px; background: url(/images/front/contents/ico01_CNT_K-057.png) no-repeat 35px center;}

/* IR - 주주총회 CNT_K_043 */
#CNT_K_043 .panel{padding: 0 30px;}
.listTit{padding-bottom: 10px; color: #111111; font-size: 18px; line-height: 1.6;}
.listBu li{padding-left: 12px; background: url(/images/front/icon/ico_listdot_type02.jpg) no-repeat 1px 12px; color: #555555; line-height: 1.6;}

/* 2depth selectBox */
#CNT_K_045 .selectTab, #CNT_K_046 .selectTab, #CNT_K_047 .selectTab, #CNT_K_048 .selectTab{display: none;} /* FAQ selectBox */

/* 아코디언 */
.accordion {position: relative; cursor: pointer; padding: 44px 29px 44px 30px; width: 100%; border: none; border-top: 1px solid #d9d9d9; color: #444; font-size: 24px; text-align: left; outline: none; word-break: keep-all; transition: 0.4s; } 
.accordion.active, .accordion:hover {color: #0c4da2; border-top: 1px solid #0c4da2;}
.accordion:after{position: absolute; right: 29px; top: 50%; z-index: 1; content: ''; display: block; margin-top: -13px; width: 26px; height: 26px; float: right; background: url(/images/front/contents/ico_open_CNT_K-048.png) no-repeat center;}
.accordion.active:after { content: ""; background-image: url(/images/front/contents/ico_close_CNT_K-048.png)}
.panel { padding: 0 15px; background-color: #fbfbfb; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;}
.accordion + .panel .panelIn {padding: 41px 0;}

/* button */
.whiteBtn.small {padding: 0 15px; min-width: initial; height: 40px; background: #ffffff; border: 1px solid #555; font-size: 14px;}
.whiteBtn .icoDownload{display: inline-block; width: 19px; height: 17px; margin-right: 6px; background: url(/images/front/icon/ico_download02.png)no-repeat; vertical-align: middle;}
.whiteBtn {display: inline-block; padding: 0 20px; min-width: 140px; height: 56px; background: #ffffff; color: #333333; font-size: 18px;}
.fillBtn .icoMore{display: inline-block; width: 15px; height: 17px; margin-right: 6px; background: url(/images/front/icon/icoMore01.png) no-repeat; vertical-align: middle;}
.whiteBtn .icoMore{display: inline-block; width: 15px; height: 17px; margin-right: 6px; background: url(/images/front/icon/icoMore02.png) no-repeat; vertical-align: middle;}

/* PDF icon */
.pdfIcon{display: inline-block; width: 17px; height: 16px; background: url(/images/front/icon/ico_pdf01.png) no-repeat; vertical-align: middle;}

/* table */
.tableBasicList, .tableBasicView {border-top: 1px solid #0c4da2; border-bottom: 1px solid #777777;}
.tableBasicList thead th{padding: 23px 10px;}
.tableBasicList th, .tableBasicList td {padding: 20px 10px; color: #555555; line-height: 1.6;}


/* 바로가기 버튼 */
.btnShortLink, a.btnShortLink{font-size: 14px;}




/* MOBILE */
@media screen and (max-width: 1024px){
    /* margin 좌우 -20px */
    .tabViewWrap, .yearWrap{margin: 0 -20px;}

    /* IR - 감사보고서 CNT_K_032 */
    #CNT_K_032 .btnArea{padding-left: 10px;}
    #CNT_K_032 .btnArea button{margin-bottom: 10px;}
    #CNT_K_032 .btnArea button.last{margin-bottom: 0;}

    /* IR - IR일정 CNT_K_038 */
    .planWrap{padding-left: 0; background-image: none;}
    .planDl{padding-bottom: 26px;}
    .planDl .planTit{font-size: 25px;}
    .planDate{padding-bottom: 22px; font-size: 18px;}
    .yearPlanDiv{ padding: 21px 0;}
    .yearPlanDiv div{float: none; width: 100%;}
    .planBu{font-size: 14px;}
    .ypDate{font-size: 15px;}
    .planBtn{text-align: left; margin-top: 15px;}
    .planBtn button {margin-left: 0;}
    .yearWrap .panel{padding: 0 15px;} /* IR일정 아코디언*/

    /* IR - FAQ CNT_K_045 */
    #CNT_K_045 .tabCtrlWrap, #CNT_K_046 .tabCtrlWrap, #CNT_K_047 .tabCtrlWrap, #CNT_K_048 .tabCtrlWrap{display: none;}
    .faqWrap{padding-top: 20px;}
    .faqPartMo{display: inline-block;}
    .faqPart{display: none;}

    .faqWrap .panel{padding: 0 15px; font-size: 13px;} /* FAQ 아코디언*/
    .faqWrap .accordion + .panel .panelIn {padding: 14px 0;}
    .faqWrap .accordion {padding: 13px 52px 13px 15px; font-size: 15px;}
    .faqWrap .accordion, .faqWrap .panel{background-image: none;}

    /* 2depth selectBox */
    #CNT_K_045 .selectTab, #CNT_K_046 .selectTab, #CNT_K_047 .selectTab, #CNT_K_048 .selectTab{display: block;} /* FAQ selectBox */

    /* 아코디언 */
    .accordion {padding: 18px 15px; font-size: 17px; line-height: 1.4;}
    .accordion:after, .accordion.active:after{right: 13px; margin-top: -6.5px; width: 13px; height: 13px; background-size: 13px 13px;}

    /* button */
    .whiteBtn.small, .fillBtn.small{width: 48.5%; padding: 0 1%;}
    .mobileML, .whiteBtn .icoDownload{margin-right: 1%;}
}
						



 
	
