@charset "utf-8";

/* IR - IR일정 CNT_K_048 */


.yearWrap{margin-bottom: 80px; border-bottom: 1px solid #777777;}

.planWrap{}
.yearPlanDiv{ padding: 29px 0; border-bottom: 1px dashed #cbcbcb;}
.yearPlanDiv div{width: 100%;}
.yearPlanDiv.last{border-bottom: 0;}
.yearPlanDiv .planBu{padding-left: 16px; line-height: 30px; background: url(/images/front/contents/bu_CNT_K-048.jpg) no-repeat left 12px; box-sizing: border-box;}
.planDl{padding-bottom: 80px;}
.planDl .planTit{font-size: 38px; font-weight: bold; line-height: 55px; vertical-align: top;}
.planDate{padding-bottom: 39px; font-size: 24px; line-height: 30px;}
.upComing{display: inline-block; padding: 0 3px; line-height: 20px; border: 1px solid #f8c18c; color: #f1841a; background-color: #fff; font-size: 13px;}
.upComing.type1{margin-left: 14px;}
.planBtn{margin-top: 15px;}

@media screen and (min-width:812px){
    .planWrap{min-height: 292px; padding-left: 603px; background: url(../images/front/contents/bg_CNT_K_048.png) no-repeat 140px top;}
    .yearPlanDiv{clear: both; overflow: hidden;}
    .yearPlanDiv div{float: left; width: 50%;}
    .planBtn{text-align: right;}
}

/* IR - FAQ CNT_K_057 */
.faqWrap{padding-top: 60px;}
.faqPart, .faqTit{display: block;}
.faqPart{padding-bottom: 10px; font-size: 16px; color: #0075c2;}
.faqTit{ font-size: 24px; line-height: 30px;}


/* 아코디언 */
.accordion {color: #444; cursor: pointer; padding: 42px 29px; width: 100%; border: none; border-top: 1px solid #d9d9d9; text-align: left; outline: none; font-size: 24px; transition: 0.4s; } 
.active, .accordion:hover {color: #0c4da2; border-top: 1px solid #0c4da2;} 
.accordion:after { content: ''; display: block; width: 26px; height: 26px; float: right; background: url(/images/front/contents/open_CNT_K-048.png) no-repeat center;} 
.active:after { content: ""; background-image: url(/images/front/contents/close_CNT_K-048.png)}
.panel { padding: 0 29px; background-color: #fbfbfb; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;} 
.panel p {padding: 50px 0;}


