@charset "utf-8";

/*******************************************************************************************
	최상단 영역 초기값 설정
	.header > header > .logo + .topMenuWrap + .btnMenuView + .megaMenu + .utility
********************************************************************************************/
.header {min-height:104px;background:#fff;box-sizing:border-box;}
.header:before {content:"";display:block;clear:both;position:absolute;left:0;top:0;width:100%;height:30px;background:#15397b;}
.header:after {content:"";display:block;clear:both;position:absolute;right:0;top:0;width:33%;height:30px;background:#0075c2;z-index:1;}
.header > header {max-width:1200px;margin:0 auto;padding:0 50px;box-sizing:border-box;}
.header > header:after {content:"";display:block;clear:both;height:0;visibility:hidden;}

.logo {position:absolute;top:30px;z-index:10;}
.logo a {display:block;width:162px;height:28px;margin-left:0;padding:23px 0;}
.logo a img {width:100%;}

/* PC에서만 보이는 탑 사업부문 메뉴 */
.topMenuWrap {position:relative;z-index:2;height:30px;background:#15397b;}
.topMenuWrap:after {content:"";display:block;clear:both;height:0;visibility:hidden;}
.topMenuWrap ul {float:right;height:30px;background:#0075c2;}
.topMenuWrap ul li {float:left;position:relative;}
.topMenuWrap ul li a {position:relative;display:block;padding:6px 13px;border-left:1px solid #268acb;font-size:14px;font-weight:bold;color:#a3c2e2;}
.topMenuWrap ul li:last-child a {padding-right:0;}

/* 모바일에서 메뉴 펼쳐보기 아이콘 */
.header .btnMenuView {display:none;}

/* 유틸 메뉴 */
.utility {position:relative;float:right;margin:21px 0 0;text-align:right;}
.utility ul {}
.utility ul:after {content:"";display:block;clear:both;height:0;visibility:hidden;}
.utility li {float:left;}
.utility a {display:block;padding:9px 0 9px 13px;font-weight:700;line-height:1.1;font-size:13px;color:#777;text-align:right;}

/*******************************************************************************************
	메뉴영역 초기값 설정
	.megaMenu > .container
	: .container = section > h2 + .btnMenuClose + .menuWrap
	: .menuWrap = nav > ul > li > .depthWrap
********************************************************************************************/
.megaMenu {}
.megaMenu.active > .container {min-height:591px;box-sizing:border-box;border-bottom:2px solid #a0a0a0;background:#f5f5f5 url('/images/front/common/bg_top_line.png') repeat-x left top;-moz-box-shadow:0px 3px 2px #d8d8d8;-webkit-box-shadow:0px 3px 2px #d8d8d8;box-shadow:0px 3px 2px #d8d8d8;}
.megaMenu > .container {overflow:hidden;position:absolute;top:30px;left:0;width:100%;min-height:74px;height:auto;}
.megaMenu section {max-width:1200px;margin:0 auto;padding:0 50px;box-sizing:border-box;}
.megaMenu h2 {font-size:0;height:1px !important;position:absolute !important;top:-9999px !important;width: 1px !important;}
.megaMenu a {display:block;line-height:1.4;font-size:16px;font-weight:700;word-wrap:break-word;}
.megaMenu .btnMenuClose {display:none;}

.menuWrap {position:relative;margin:0 22% 0 19%;}
.menuWrap nav {}
.menuWrap ul:after {content:"";display:block;clear:both;height:0;visibility:hidden;}
.menuWrap .depth01 {}
.menuWrap .depth01 > li {position:relative;float:left;}
.menuWrap .depth01 > li:after {content:"";display:block;clear:both;position:absolute;top:74px;width:1px;height:1000%;background:#ddd;}
.menuWrap .depth01 > li:first-child:after {display:none;}
.menuWrap .depth01 > li > a {box-sizing:border-box;height:74px;padding:25px 0;text-align:center;letter-spacing:-0.015em;font-family:'SamsungOne', sans-serif;font-size:17px;color:#111;}
.menuWrap .depth01 > li.active {}
.menuWrap .depth01 > li.active:after {width:100%;background:#fff;}
.menuWrap .depth01 > li.active:first-child:after {display:block;}
.menuWrap .depth01 > li.active > a {color:#0075c2;}
.menuWrap .depth01 > li.gnb01 {width:27%;}
.menuWrap .depth01 > li.gnb02 {width:33%;}
.menuWrap .depth01 > li.gnb03 {width:40%;}
.menuWrap .depthWrap {position:absolute;left:0;z-index:100;width:100%;height:auto;}
.megaMenu.active .depthWrap {display:block;}
.depthWrap .depth02 {padding:0 15px;}	
.depthWrap .depth02 li {position:relative;}	
.depthWrap .depth02 > li > a {position:relative;padding:5px 17px 5px 0;color:#333;}
.depthWrap .depth02 > li > a:hover {color:#0075c2;}
.depthWrap .depth02 > li > .depth {background-image:url('/images/front/icon/ico_megaplus_pc.png');background-repeat:no-repeat;background-position:100% 50%;}
.depthWrap .depth02 > li.active {}
.depthWrap .depth02 > li.active > a {color:#0075c2;}
.depthWrap .depth02 > li.active > .depth {background-image:url('/images/front/icon/ico_megaminus_pc.png');}
.depthWrap .depth03 {display:none;}		
.depthWrap .depth02 > li.active .depth03 {display:block;}
.depthWrap .depth03 > li > a {padding:5px 0px 5px 24px;font-weight:400;color:#555;}
.depthWrap .depth03 > li > a:before {content:"-";display:block;clear:both;position:absolute;top:5px;left:15px;}
.depthWrap .depth03 > li > a:hover {color:#0075c2;}

/*****************************************************************************************************************************************
	반응형 처리 (모바일)
*****************************************************************************************************************************************/

/* 모바일 */
@media screen and (max-width:1024px) {

/* 최상단 영역 */
.header {position:fixed;width:100%;height:40px;min-height:auto;z-index:200;}
.header:before,.header:after {display:none;}
.header header {max-width:none;margin:0;padding:0;}
	
.logo {top:0;}
.logo a {display:block;width:105px;height:18px;padding:11px 0 11px 15px;}
.logo a img {width:100%;}

/* PC에서만 보이는 탑 사업부문 메뉴 */
.topMenuWrap {display:none;}

/* 모바일에서 메뉴 펼쳐보기 아이콘 */
.header .btnMenuView {display:block;position:absolute;right:0;top:0;width:40px;height:40px;background:#fff url('/images/front/btn/btn_menuview_mo.png') no-repeat 50% 50%;background-size:12px 12px;}
.header .btnMenuView span {font-size:0;position:absolute;top:-9999px;}

/* 유틸 메뉴 */
.utility {margin:4px 42px 0px 0px;}
.utility:after {content:"";display:block;clear:both;position:absolute;right:0;top:11px;width:1px;height:10px;background:#ccc;}
.utility ul {padding-right:13px;}
.utility ul:after {content:"";display:block;clear:both;height:0;visibility:hidden;}
.utility li {display:none;}
.utility li.eng, .utility li.kor {display:block;}
.utility a {padding:10px 2px;font-size:14px;color:#333;}

/* 메뉴영역 설정 */
.megaMenu {display:none;}
.megaMenu.active {display:block;}
.megaMenu.active > .container {top:0;min-height:auto;border-bottom:none;background:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.megaMenu > .container {position:fixed;width:100%;height:100%;z-index:1000;padding-bottom:40px;box-sizing:border-box;}
.megaMenu section {height:100%;max-width:none;padding:0;}
.megaMenu a {font-size:13px;}
.megaMenu .btnMenuClose {display:block;position:absolute;right:0;top:0;z-index:1005;width:40px;height:40px;background:#fff url('/images/front/btn/btn_menuclose_mo.png') no-repeat 50% 50%;background-size:12px;}
.megaMenu .btnMenuClose span {font-size:0;position:absolute;top:-9999px;}

.menuWrap {height:100%;margin:0;background:#fff;}
.menuWrap nav {overflow-x:hidden;overflow-y:auto;height:100%;margin-top:40px;}
.menuWrap ul:after {content:"";display:block;clear:both;height:0;visibility:hidden;}
.menuWrap .depth01 {}
.menuWrap .depth01 > li {float:none;border-bottom:1px solid #ccc;}
.menuWrap .depth01 > li:first-child {border-top:1px solid #ccc;}	
.menuWrap .depth01 > li.active {}
.menuWrap .depth01 > li > a {height:auto;padding:9px 15px;background:#fff url('/images/front/icon/ico_megaplus_mo.png') no-repeat 100% 50%;background-size:28px 13px;font-size:15px;text-align:left;}
.menuWrap .depth01 > li > a:hover {color:#111;}
.menuWrap .depth01 > li:after {content:none;display:none;}
.menuWrap .depth01 > li.active:after {content:none;display:none;}
.menuWrap .depth01 > li.active > a {background-image:url('/images/front/icon/ico_megaactive_mo.png');color:#111;}
.menuWrap .depth01 > li.gnb01,.menuWrap .depth01 > li.gnb02,.menuWrap .depth01 > li.gnb03 {width:100%;}
.menuWrap .depthWrap {display:none;position:relative;}
.megaMenu.active .depthWrap {display:none;}
.menuWrap .active .depthWrap {display:block;}
.depthWrap .depth02 {padding:0;}	
.depthWrap .depth02 li {border-top:1px solid #d9d9d9;}	
.depthWrap .depth02 > li:before {content:"";display:block;clear:both;width:100%;height:1px;background:#fff;}
.depthWrap .depth02 > li:first-child {border-color:#ccc;}
.depthWrap .depth02 > li > a {position:relative;padding:6px 15px 8px;background-color:#f2f2f2;}
.depthWrap .depth02 > li > a:hover {color:#333;}
.depthWrap .depth02 > li > .depth {background-image:url('/images/front/icon/ico_megaplus_mo.png');background-repeat:no-repeat;background-position:100% 50%;background-size:28px 13px;}
.depthWrap .depth02 > li.active {border-color:#0c4da2;}
.depthWrap .depth02 > li.active:before {background:#0c4da2;}
.depthWrap .depth02 > li.active > a {background-color:#0c4da2;color:#fff;}
.depthWrap .depth02 > li.active > a:after {content:"";display:block;overflow:hidden;clear:both;position:absolute;right:5px;top:50%;width:8px;height:12px;margin-top:-7px;background:url('/images/front/icon/ico_megaarrow_mo.png') no-repeat 0 50%;background-size:cover;}
.depthWrap .depth02 > li.active > .depth {background-image:url('/images/front/icon/ico_megaminus_mo.png');}
.depthWrap .depth02 > li.active .depth03 > li:first-child {border-color:#0c4da2;}
.depthWrap .depth03 > li > a {padding:6px 15px 8px 40px;font-weight:400;color:#555;}
.depthWrap .depth03 > li > a:before {content:"-";display:block;clear:both;position:absolute;top:50%;left:32px;margin-top:-10px;}
.depthWrap .depth03 > li > a:hover {color:#555;}
}